<template>
    <div>
        <div style="margin-bottom: 10px" v-for="item in items">
            <div v-show="showChat" class="row table-row ml-3" v-bind:class="{ active: item.chat_seen !== null }">
                <div class="col-12 col-sm-10 order-1 order-xl-2 pbt-10 mail-main-content"
                     @click="showChat = !showChat; updateSeenStatus(item); setChatToShow(item.chat.id)">
                    <div class="table-user-info mb-2">
                        {{ item.chat.admin ? $t('cabinet.mail.admin') : item.application.name }}
                    </div>
                    <div class="table-text">
                        {{ item.lastMessage }}
                    </div>
                </div>
                <div class="col-12 col-sm-2 order-3 order-xl-3 pbt-10 my-auto">
                    <div class="table-mail-info">
                        <div class="cabinet-request-time">
                            {{ item.time }}
                        </div>
                        <div>
                            {{ item.date }}
                        </div>
                    </div>
                </div>
            </div>
            <cabinet-chat-message-list-container :data="item"
                                                 v-if="!showChat && chatToShow == item.chat.id"></cabinet-chat-message-list-container>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data'],
    data() {
        return {
            showChat: true,
            objDiv: [],
            chatToShow: '',
            chatId: '',
            items: [],
            api_token: '',
        }
    },
    created() {
        const urlParams = new URLSearchParams(window.location.search);
        const chatParam = urlParams.get('chat');
        if (chatParam !== null) {
            this.showChat = !this.showChat;
            this.chatToShow = chatParam
        }
        this.api_token = this.data.data.api_token;
        this.items = this.data.data
    },
    methods: {
        setChatToShow(id) {
            this.chatToShow = id
        },
        updateSeenStatus(chat) {
            axios.post(`/api/chat/${chat.chat.id}/viewed`, {}, {
                headers: {
                    Authorization: `Bearer ` + chat.api_token,
                    Accept: 'application/json',
                }
            })
        },
        accessReport(id) {
            $('#modal-application-id').val(id)
        }
    },
}
</script>

<style scoped>

</style>
