<template>
    <div class="tracker-chat__container mb-4"
         style="box-shadow: none; background: #ffffff;" v-cloak>
        <div class="row ml-3">
            <a :href="localChat"><img style="transform: rotate(180deg);height: 37px;" src="/img/tracker/next.png" alt=""></a>
        </div>
        <div class="cabinet-chat__header">
            <div class="row justify-content-between">
                <div class="col-6">
                    <span>{{ item.chat.admin ? $t('cabinet.mail.admin') : item.application.name }}</span>
                </div>
                <div v-if="item.application && item.application.status === 10" class="d-none d-xl-flex col-6 row text-center cabinet-chat__header-nav">
                    <div class="offset-1 col-6 p-0">
                        <a class="tracker-chat__link" target="_blank" :href="`request/${this.item.application.id}`">{{ $t('cabinet.mail.show_request') }}</a>
                    </div>
                    <div class="col-3">
                        <div class="cursor-pointer" @click="accessReport()" onclick="$('#application-report-modal').modal('show');" href="javascript:;">{{ $t('site.tracker.response.complaint') }}</div>
                    </div>
                </div>
                <div v-if="item.application && item.application.status === 10" class="d-block d-xl-none offset-4 offset-md-3 col-2 text-right">
                    <a class="pl-1 dossier-item-cabinet-index-more-actions" type="button"
                       id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div class="cursor-pointer" @click="accessReport()" onclick="$('#application-report-modal').modal('show');" href="javascript:;">{{ $t('site.tracker.response.complaint') }}</div>
                        </div>
                        <a class="tracker-chat__link dropdown-item" target="_blank" :href="`request/${this.item.application.id}`">{{ $t('cabinet.mail.show_request') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cabinet-chat__message-list w-100" v-chat-scroll>
            <div style="clear:both" v-for="message in messages">
                <div v-if="message.owner == 'application' || message.owner == 'admin'"
                     class="tracker-chat__message-container mt-3">
                    {{ message.message }}
                </div>
                <div v-else class="tracker-chat__message-mine-container mt-3">
                    {{ message.message }}
                </div>
            </div>
        </div>
        <div v-if="!item.chat.admin" class="tracker-chat__input-container">
            <div class="h-100">
                <div v-if="item.application.status == 0 || item.application.status == 10" class="row justify-content-center">
                    <div class="col-12 col-md-9 col-lg-8 col-xl-9">
                                <textarea style="resize: none; background-color: #f5f5f5; border: none;"
                                          class="tracker-chat__textarea pl-2 pt-2 w-100" :placeholder="$t('site.tracker.response.send_placeholder')"
                                          v-model.trim="newMessage" ></textarea>
                    </div>
                    <div class="col-8 col-md-3 col-lg-4 col-xl-3 my-auto">
                        <a class="p-2 tracker-chat__send-message-button mx-auto ml-md-auto mr-md-0" @click="sendMessage()">
                            {{ $t('site.tracker.response.send') }}
                        </a>
                    </div>
                </div>
                <div v-else class="row">{{ $t('cabinet.mail.request_notactive') }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data'],
    data() {
        return {
            messages: [],
            newMessage: '',
            objDiv: [],
            item: [],
            localChat: '',
            api_token: '',
        }
    },
    created() {
        this.api_config = {
            headers: {
                Authorization: `Bearer ` + this.data.api_token,
                Accept: 'application/json',
            }
        };
        this.item = this.data;
        let a = 53;
        this.fetchMessages();
    },
    mounted() {
        this.objDiv = document.getElementById("listContainer");
        this.localChat = '/' + window.location.pathname.replace(/^\/([^\/]+).*/i,'$1') + '/cabinet/mail';
    },
    methods: {
        accessRate() {
            $('#rate-lawyer-id').val(this.data.chat.user_id);
        },
        accessComplaint() {
            $('#modal-lawyer-id').val(this.data.chat.user_id)
        },
        fetchMessages() {
            axios.get(`/api/messages/${this.data.chat.id}`, this.api_config)
                .then(response => {
                    this.messages = response.data;
                })
        },
        sendMessage() {
            if(this.newMessage === ''){
                return;
            }
            this.messages.push({
                owner: 'user',
                message: this.newMessage
            })
            axios.post(`/api/message/store`, {
                chat_id: this.item.chat.id,
                message: this.newMessage,
                owner: 'user'
            }, this.api_config)
                .catch(error => {
                    this.messages.pop()
                    alert(this.$t('validation.chat.session_expire'))
                })
                .then(() => {
                this.fetchMessages();
            });
            this.newMessage = ''
        },
        accessReport() {
            $('#modal-application-id').val(this.item.application.id)
        }
    }
}
</script>

<style scoped>

</style>
