<template>
    <div id="app">
        <div class="cabinet-access-selected mb-2">
            <div v-if="accessList.length" class="row">
                <div style="color: #EC9C23;" class="d-none d-xl-block col-xl-1">
                    #
                </div>
                <div style="color: #EC9C23;" class="d-none d-xl-block col-xl-4">
                    {{ $t('cabinet.settings.access_region') }}
                </div>
                <div style="color: #EC9C23;" class="d-none d-xl-block col-xl-3">
                    {{ $t('cabinet.settings.access_period') }}
                </div>
                <div style="color: #EC9C23;" class="d-none d-xl-block col-xl-3">
                    {{ $t('cabinet.settings.access_cost') }}
                </div>
                <div class="col-xl-1">

                </div>
            </div>
            <div v-if="accessList.length" class="access-region-item mb-2">
                <div class="row justify-content-center" v-for="(item, index) in accessList">
                    <div class="col-12 col-md-8 col-xl-12">
                        <div class="row new-access-row mb-xl-2">
                            <div class="d-none d-xl-block col-xl-1">
                                {{ index + 1 }}
                            </div>

                            <div style="color: #EC9C23;" class="d-block d-xl-none col-6 text-right mt-2 mt-xl-0">
                                {{ $t('cabinet.settings.access_region') }}
                            </div>
                            <div class="col-6 col-xl-4 mt-2 mt-xl-0">
                                {{ item.region }}
                            </div>

                            <div style="color: #EC9C23;" class="d-block d-xl-none col-6 text-right">
                                {{ $t('cabinet.settings.access_period') }}
                            </div>
                            <div class="col-6 col-xl-3">
                                {{ $t('cabinet.settings.access_period_to') }} {{ item.active }}
                            </div>

                            <div style="color: #EC9C23;" class="d-block d-xl-none col-6 text-right">
                                {{ $t('cabinet.settings.access_cost') }}
                            </div>
                            <div class="col-4 col-xl-3">
                                {{ item.cost }} {{ $t('cabinet.settings.access_uah') }}
                            </div>

                            <div class="col-2 col-xl-1 mb-2 mb-xl-0"  @click="deleteItem(index)">
                                <img class="cursor-pointer"
                                     src="/img/cabinet/delete.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="accessList.length" class="cabinet-access-summary has-selected mb-3 flex-column flex-md-row">
            <span class="access-regions-count">{{ $t('cabinet.settings.access_selected_count') }}: <span>{{ accessList.length ? accessList.length : 0 }}</span></span>
            <span class="access-regions-sum">{{ $t('cabinet.settings.access_sum', {'sum': this.price }) }}</span>
            <span class="access-regions-discount">
                <span v-if="accessList.length > 1"><span>{{ $t('cabinet.settings.access_discount') }} - <span class="discount-abs">{{ discountSum }}</span> {{ $t('cabinet.settings.access_uah')}} (</span><span class="discount-rel">{{ discount }}</span>%)</span>
            </span>
        </div>
        <div v-if="accessList.length" class="cabinet-access-cost mb-3">
            <span>{{ $t('cabinet.settings.access_to_pay', {sum: sumToPay}) }}</span>
        </div>
            <!--        <form method="POST" action="{{ route('cabinet.access.create', app()->getLocale()) }}">-->
            <div class="cabinet-access-request mb-3">
                <div v-if="this.accessList.length < 2">
                    <div v-show="false" class="mb-3">
                        <p class="mb-2">{{ $t('cabinet.settings.access_select_country') }}</p>
                        <v-select class="settings-select" label="name" :options="countries" :placeholder="$t('forms.placeholder_choose', lang)" :searchable="false" v-model="country">
                        </v-select>
                        <span v-show="errors" class="cabinet-validation-error">{{ $t('validation.required') }}</span>
                    </div>
                    <div class="mb-3">
                        <p class="mb-2">{{ $t('cabinet.settings.access_select_region') }}</p>
                        <v-select class="settings-select" label="name" :options="regions" :placeholder="$t('forms.placeholder_choose_region', lang)" v-model="region">
                        </v-select>
                        <span v-show="errors" class="cabinet-validation-error">{{ $t('validation.required') }}</span>
                    </div>
                </div>
                <div class="cabinet-access-action mb-3">
                    <button v-if="this.accessList.length < 2" @click="addToList" class="cabinet-access-add mr-3">{{ $t('cabinet.settings.access_add_region')}}</button>
                    <button :disabled="accessList.length === 0" @click="sendAccess" class="cabinet-access-pay mb-3 mb-sm-0">{{ $t('cabinet.settings.access_gain')}}</button>
                </div>
            </div>
    </div>
</template>

<script>
import _ from 'lodash';

export default {
    name: "AccessComponent",
    props: ['data'],
    data() {
        return {
            regions: [],
            lang: this.locale,
            country: [],
            region: [],
            countries: [],
            accessList: [],
            price: 0,
            discount: '',
            discountSum: 0,
            errors: false
        }
    },
    methods: {
        getRegionsByCountry(id) {
            axios.post(`/${this.lang}/cabinet/settings/access/regions`, {
                country_id: id,
                region_id: this.getExistRegion()
            })
                .then(response => {
                    this.regions = response.data.filter((item) => {
                        return item != null && !this.getExistRegion().includes(item.id)
                    })
                })
        },
        getExistRegion() {
            if (this.accessList.length) {
                return this.accessList.map((item) => {
                    return item.region_id;
                })
            }
            return [0];
        },
        sendAccess(){
            axios.post(`/${this.lang}/cabinet/settings/access`, {
                region_id: this.accessList
            })
                .then(response => {
                    window.location.replace(response.data)
                })
                .catch( error => {
                    if(error.response.status === 403){
                        alert(this.$t('modals.access_exceed'));
                    }
                })
        },
        translateName(data) {
            return data.map((item) => {
                return {
                    id: item.id,
                    name: this.$t('countries.' + item.name, this.langParam)
                }
            })
        },
        addToList() {
            if (this.isFill()) {
                this.accessList.push({
                    region: this.country.name + ', ' + this.region.name,
                    cost: this.region.cost,
                    region_id: this.region.id,
                    active: this.getActive(this.region.active)
                })
                this.country = this.countries[0];
                this.region = [];
                this.errors = false;
            } else {
                this.errors = true;
            }
        },
        setPrice() {
            this.price = 0
            this.accessList.forEach(item => this.price += item.cost)
        },
        deleteItem(index) {
            this.accessList.splice(index, 1);
        },
        getActive(active){
            if(active){
                return moment(active, "DD.MM.YYYY").add(30, 'days').format();
            }
            return moment().add(30, 'days').format();
        },
        isFill() {
            return !_.isEmpty(this.region) && !_.isEmpty(this.country);
        },
    },
    mounted() {
        this.countries = this.translateName(this.data.countries);
        this.country = this.countries[0];
    },
    computed: {
        sumToPay() {
            if (this.accessList.length > 1 && this.accessList.length < 5) {
                this.discount = '5';
                this.discountSum = this.price * 0.05;
                return this.price - this.discountSum;
            }
            if (this.accessList.length > 4 && this.accessList.length < 10) {
                this.discount = '10';
                this.discountSum = this.price * 0.1;
                return this.price - this.discountSum;
            }
            if (this.accessList.length > 9) {
                this.discount = '15';
                this.discountSum = this.price * 0.15;
                return this.price - this.discountSum;
            }
            return this.price;
        }
    },
    watch: {
        country() {
            if (this.country.id) {
                this.getRegionsByCountry(this.country.id);
            }
        },
        accessList() {
            this.setPrice();
        }
    }
}
</script>

<style scoped>

</style>
