<template>
    <div>
        <vue-upload-multiple-image
            :showAdd="false"
            :showDelete="false"
            :showEdit="false"
            :showPrimary="false"
            :dataImages="images"
        ></vue-upload-multiple-image>
    </div>
</template>
<script>
import VueUploadMultipleImage from 'vue-upload-multiple-image'

export default {
    props: ['data'],
    data() {
        return {
            images: [],
        }
    },
    mounted() {
        this.images = this.data.dataImages;
        this.images = this.images.map((item) => {
            item.default = Number(item.default)
            item.highlight = Number(item.highlight)
            return item
        })
    },
    components: {
        VueUploadMultipleImage,
    },
}
</script>

<style scoped>
</style>
