body
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
    font-size: 18px;
    background-color: #FFF;
}
input, select, input:focus, select:focus, textarea:focus{
    outline: none;
}
input.is-invalid, .textarea-container.is-invalid, .double-input.is-invalid, select.request-form-select.is-invalid ~ .select2-container{
    border: none !important;
    outline: 1px solid #E74C3C !important;
}
input.auth-is-invalid{
    border: none !important;
    outline: 2px solid #E74C3C !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.request-form-select * {
    padding-left: 15px;
}
button {
    outline: none
}
@media (min-width: 1200px)
{
    .container {
        max-width: 1366px;
    }
}

@media (min-width: 992px) and (min-height: 720px){
    .footer-to-bottom{
        min-height: calc(100vh - 137px - 1rem - 204px); /* 100% - header - header margin - footer */
        display: flex;
        align-items: center;
    }
    .cabinet-footer-to-bottom{
        min-height: calc(100vh - 137px - 1rem - 204px - 40px); /* 100% - header - header margin - footer - cabinet padding */
    }
}

.color-black{
    color: #000000 !important;
}

.background-fluid
{
    background-color: #262424;
}

/** HEADER **/
header.header-container
{
    position: relative;
    background: #262424;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand{
    margin-right: 10px;
}
.logo-title
{
    display: inline-block;
    font-family: Alegreya Sans SC;
    font-weight: bold;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
}
.logo-title .logo-sub
{
    font-size: 12px;
    margin-bottom: 0;
}
.logo-img
{
    display: inline-block;
    height: 83px;
    width: 87px;
    /* background: url(/img/logo.png); */
    background: url(/img/logo.svg);

    vertical-align: middle;
}
@media (max-width: 772px){
    .logo-img {
        /* height: 50px;
        width: 50px;
        background-size: 50px 50px; */
        height: 30px;
        width: 30px;
        background-size: 100% 100%;
    }
    .logo-title{
        font-size: 24px;
    }
    .logo-title .logo-sub{
        font-size: 8px;
    }

}
.logo-block:hover > .navbar-brand > .logo-img
{
    /* background: url(/img/logo-hover.png); */
    background: url(/img/logo-hover.svg);
    background-size: 100% 100%;
}
.logo-block:hover > .logo-title
{
    color: #EC9C23;
    text-decoration: none;
}
.header-container .menu-item
{
    color: #FFF;
    font-size: 16px;
}
.header-container .menu-item:hover, .header-container .menu-item.active
{
    color: #EC9C23;
    cursor: pointer;
}
.lang-select-container{
    position: relative;
}
.lang-select-container::after{
    display: none;
}
.navbar-collapse.collapse:not(.show) .guest-check{
    left: 0 !important;
}
#lang-select::after{
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    top: 17px;
    right: 1px;
    content: "";
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}
#lang-select{
    position: relative;
    vertical-align: text-bottom;
    padding-right: 15px;
    color: #EC9C23;
}
.lang-select-dropdown{
    position: absolute !important;
    left: -8px;
    right: 0;
    width: 70px;
    min-width: unset;
}
@media(max-width:1199px){
    #lang-select::after{
        right: -3px;
        top: 20px;
    }
    .lang-select-dropdown{
        left: -12px;
    }
}
.outlined .nav-link
{
    color: #FFF;
    border: 3px solid #EC9C23;
}
.outlined .nav-link.active{
    color: #FFF;
    background: #EC9C23;
}
.nav-link-dossier{
    display: inline-block;
}
.nav-link-dossier ~ span{
    position: relative;
    padding-left: 7px;
    vertical-align: super;
}
@media (max-width: 1200px){
    .nav-link-dossier ~ span{
        padding-left: 15px;
    }
}
.nav-link-dossier ~ span::after {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    top: 18px;
    right: 0px;
    content: "";
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}
.nav-link-dossier.active ~ span, .nav-link-dossier:focus ~ span{
    color: #EC9C23;
}

.navbar-nav .outlined:not(.inverse):hover
{
    background: #EC9C23;
}
.custom-toggler.navbar-toggler {
    border-color: #EC9C23;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 156, 35, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media (max-width: 1200px)
{
    .header-container .menu-item
    {
        font-size: 20px;
    }
    .navbar-nav .outlined .nav-link
    {
        font-size: 20px;
    }
    .navbar-nav .outlined {
        max-width: 200px;
    }
    .navbar-nav .outlined .nav-link
    {
        padding: 5px 10px;
        max-width: 200px;
    }
    #navbarNavDropdown
    {
        margin-top: 20px;
    }
}

/** FOOTER **/

.footer-container
{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #262424;
    font-size: 18px;

}
.need-footer-separator ~ .footer-container{
    border-top: 1px solid #DFDFDF;
}
.footer-block
{
    font-size: 18px;
}
.footer-cabinet-link:hover{
    text-decoration: none;
}
.footer-container .outlined
{
    color: #262624;
    cursor: pointer;
    display: inline-block;
    padding: 3px 7px;
    font-size: 18px;
    border: 3px solid #EC9C23;
}
.footer-container .outlined.active{
    background-color: #EC9C23;
    color: #FFF;
}
.footer-container .outlined:hover
{
    color: #FFF;
    background-color: #EC9C23;;
}
.footer-container .socials img
{
    width: 30px;
    height: 30px;
}
.footer-social-img{
    width: 30px;
}
@media (max-width: 576px)
{
    .stats-container
    {
        font-size: 18px !important;
    }
    .about-container
    {
        padding: 10px 0;
    }
    .about-text
    {
        font-size: 24px;
    }
}
.footer-link
{
    color: #212529;
}
.footer-link:hover
{
    color: #262424;
    text-decoration: none;
}

/** HOME **/
@media (min-width: 1366px) and (min-height: 700px){
    #index-header{
        min-height: 82vh;
        display: flex;
        align-items: center;
    }
}
.header-info-container
{
    padding: 20px 10px;
}
.header-info-container .header-info-caption
{
    font-weight: bold;
    font-size: 72px;
    color: #EC9C23;
}
.header-info-container .header-info-caption p
{
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}
#scroll svg
{
    width: 50px;
    height: auto;
}
#scroll svg .scroll-arrow1{
    animation: animate-scroll 1s ease-out infinite;
}
#scroll svg .scroll-arrow2{
    animation: animate-scroll 1s ease-out 333ms infinite;
}
#scroll svg .scroll-arrow3{
    animation: animate-scroll 1s ease-out 666ms infinite;
}
@keyframes animate-scroll {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}
.about-container
{
    padding: 30px 0;
}
.about-text
{
    font-family: Open Sans;
    font-style: normal;
    font-size: 30px;
}
.about-text span
{
    font-weight: bold;
}
.about-helper
{
    height: 300px;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    background: #EC9C23;
    cursor: pointer;
}
.about-helper:hover
{
    background: #262424;
}
.about-helper:hover p
{
    color: #EC9C23;;
}
.about-rect
{
    height: auto;
}
.about-rect.first
{
    width: 8vw;
    max-width: 150px;
}
.about-rect.second
{
    width: 6vw;
    max-width: 100px;
}
.about-box
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-text
{
    font-size: 30px;
    color: #262424;
}
.about-action
{
    color: #FFF;
    position: absolute;
    bottom: 15px;
}
.about-action:hover
{
    color: #FFF;
    text-decoration: none;
}
.about-action span, .about-action img
{
    display: inline-block;
}
.about-action img
{
    width: 24px
}
.stats-container
{
    width: 100%;
    background: #262424;
    padding: 70px 20px;
}
.stats-sent
{
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.stats-online
{
    border-bottom: 2px solid #FFFFFF;
}
.stats-container .stats-sent div, .stats-container .stats-online div
{
    padding: 20px;
}
.stats-container .stats-sent span, .stats-container .stats-online span
{
    font-size: 24px;
    color: #FFFFFF;
}
.stats-container .count
{
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}
.stats-container .rects svg
{
    margin: 0 2vw;
    width: 2vw;
    max-width: 15px;
}
@media (max-width: 576px)
{
    .stats-container
    {
        font-size: 18px !important;
    }
    .about-container
    {
        padding: 10px 0;
    }
    .about-text
    {
        font-size: 24px;
    }
}
@media (max-width: 992px)
{
    .about-helper
    {
        height: 220px;
    }
}
.about-block
{
    padding: 0 30px;
}

/* CUSTOM DROPDOWN */
.dropdown-block
{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.custom-dropdown
{
    color: #000000;
    position: relative;
}
.custom-dropdown .dropdown-selected
{
    font-size: 18px;
    border-radius: 0;
    border: 3px solid #EC9C23;
    background: #FFFFFF url(/img/dossier/filter-arrow.png) no-repeat right 0.5vw center;
    background-size: 20px 20px;
}
.custom-dropdown .dropdown-selected:hover
{
    cursor: pointer;
    border: 3px solid #EC9C23;
    color: #FFFFFF !important;
    background: #EC9C23 url(/img/dossier/filter-arrow-inverse.png) no-repeat right 0.5vw center !important;
    background-size: 20px 20px !important;
}
.custom-dropdown .dropdown-list
{
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-selected
{
    font-size: 18px;
}
.dropdown-list-item
{
    font-size: 16px
}
.dropdown-list-item:hover
{
    cursor: pointer;
}
.dropdown-selected, .dropdown-list-item
{
    padding: 5px;
}
.dropdown-placeholder
{
    height: 43px;
    font-size: 18px;
    border-radius: 0;
    border: 3px solid #EC9C23;
    background: #FFFFFF url(/img/dossier/filter-arrow.png) no-repeat right 0.5vw center;
    background-size: 20px 20px;
}
.dropdown-placeholder:hover{
    cursor: pointer;
}
.dropdown-menu-search
{
    width: 100% !important;
    border-radius: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.dropdown-menu-search-container
{
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-menu-select
{
    height: 30px;
    font-size: 15px;
    width: 100%;
    border-radius: 0;
    border: 2px solid #EC9C23;
    background: #FFFFFF url(/img/dossier/filter-arrow.png) no-repeat right 0.5vw center;
    background-size: 15px 15px;
}
.dossier-menu-select
{
    padding-left: 5px;
    height: 43px;
    font-size: 18px;
    width: 100%;
    border-radius: 0;
    border: 3px solid #EC9C23;
    background: #FFFFFF url(/img/dossier/filter-arrow.png) no-repeat right 0.5vw center;
    background-size: 20px 20px;
}
.dossier-menu-select:hover{
    cursor: pointer;
}
.dropdown-menu-input
{
    height: 30px;
    font-size: 15px;
    width: 100%;
    border-radius: 0;
    border: 2px solid #EC9C23;
    background: #FFFFFF url(/img/dossier/drop-down-search-icon.png) no-repeat right 0.5vw center;
    background-size: 15px 15px;
}
.dropdown-menu-select
{
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
.dropdown-menu-select::-ms-expand
{
    display: none;
}
.dossier-menu-select
{
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
.dossier-menu-select::-ms-expand
{
    display: none;
}

.dropdown-check-input
{

}
/** DOSSIER LIST **/
.dossier-header-info{
    padding: 30px 10px;
}
.dossier-header-caption{
    font-weight: 600;
    font-size: 48px;
    color: #EC9C23;
}
@media (max-width: 771px){
    .dossier-header-caption{
        font-size: 38px !important;
        width: 100% !important;
    }
    .dossier-header-caption-container{
        height: auto !important;
        margin-bottom: 20px !important;
    }
}
.dossier-header-step, .tracker-header-step{
    padding: 10px 0;
    border-bottom: 2px solid #FFFFFF;
    width: 200px;
    display: inline-block;
    text-align: left;
}
.dossier-header-img, .tracker-header-img{
    margin-bottom: 10px;
}
@media(max-width: 772px){
    .dossier-header-img,.tracker-header-img{
        width: 80px;
        margin-bottom: 0
    }
}
.dossier-list-container
{
    padding: 20px 10px;
}
.dossier-item
{
    width: 280px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
}
.dossier-item-name
{
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 2px solid #EC9C23;
}
.dossier-single-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}
.dossier-item-img
{
    max-height: 100%;
    max-width: 100%;
}
.mb-6 {
    margin-bottom: 4rem!important;
}
.dossier-item-stats
{
    color: #EC9C23;
    margin: 10px 0;
}
.dossier-item-stats-a
{
    display: inline-block;
    background: url(/img/dossier/star.png) no-repeat left;
    background-size: 22px 22px;
    padding-left: 25px;
    padding-right: 10px;
}
.dossier-item-stats-b
{
    display: inline-block;
    background: url(/img/dossier/count.png) no-repeat left;
    background-size: 22px 22px;
    padding-left: 25px;
}
.dossier-item-link
{
    display: block;
    background: #EC9C23;
    color: #FFFFFF;
    width: 200px;
    height: 45px;
    line-height: 45px;
    margin: 10px auto;
}
.dossier-item-link:hover
{
    text-decoration: none;
    color: #FFFFFF;
}
.dossier-item-bookmark
{
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    color: #262424;
    border: none;
    background-size: 22px 22px;
    background: url(/img/dossier/bookmark.png) no-repeat left;
    padding-left: 25px;
}
.dossier-item-bookmark-painted
{
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: #262424;
    border: none;
    background-size: 22px 22px;
    background: url(/img/dossier/bookmark_painted.png) no-repeat left;
    padding-left: 25px;
}
.dossier-item-bookmark-painted:focus
{
    outline: none;
}
.dossier-item-bookmark:focus
{
    outline: none;
}
.dossier-item-bookmark:hover
{
    text-decoration: none;
    color: #262424;
}
.dossier-more
{
    background-color: #FFF;
    cursor: pointer;
    color: #262424;
    display:inline-block;
    border: 3px solid #EC9C23;
    padding: 5px 15px;
}

.dossier-more:hover
{
    color: #ffffff;
    background: #EC9C23;
    text-decoration: none;
}
.checkbox-container-dossier {
    padding-left: 20px !important;
    margin-bottom: 6px !important;
}
.checkmark-dossier {
    top: 5px !important;
    height: 15px !important;
    width: 15px !important;
    border: 2px solid #EC9C23 !important;
}
.checkmark-dossier:after {
    left: 3px !important;
    top: 0px !important;
    width: 6px !important;
    height: 9px !important;
}
[v-cloak]
{
    display:none;
}
/** ABOUT **/
.about-header-info, .faq-header-info{
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-header-caption{
    font-weight: bold;
    font-size: 36px;
}
.about-header-caption span{
    font-size: 48px;
    color: #EC9C23;
}
@media(max-width: 992px){
    .about-header-caption{
        font-size: 24px;
    }
    .about-header-caption span{
        font-size: 32px;
        color: #EC9C23;
    }
}
.about-page-block
{
    padding-top: 30px;
    padding-bottom: 30px
}
.about-page-block.about-page-background
{
    background: #262424;
}
.about-page-heading, .tracker-page-heading, .request-page-heading
{
    font-weight: bold;
    color: #262424;
    font-size: 32px;
}
.about-page-heading.heading-white
{
    color: #FFFFFF;
}
.about-2cols-steps
{
    color: #262424;
    position: relative;
    font-size: 18px;
}
.about-2cols-step
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-2cols-line
{
    border-left: 3px solid #EC9C23;
    position: absolute;
    left: 50%;
    top: 5%;
    bottom: 5%;
}
.about-page-block .feature-step {
    padding: 5px;
    display: inline-block;
    border-bottom: 1px solid #EC9C23;
}
.about-page-text, .about-step-text
{
    color: #000000;
    font-size: 18px;
}
.about-text-white
{
    color: #FFFFFF;
}
.about-page-ul {
    list-style: none; /* Remove default bullets */
    padding-inline-start: 0;
}
.about-page-ul li {
    margin-bottom: 10px;
}
.about-page-ul li::before {
    content: "";
    background-color: #EC9C23;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: -1px;
    margin-right: 8px;
    border-radius: 50%;
}
.about-page-ul li > span
{
    color: #000000;
}
.about-page-ul li > span.about-text-white
{
    color: #FFFFFF;
}
.site-link
{
    color: #EC9C23;
}
.site-link:hover
{
    color: #EC9C23;
    text-decoration: underline;
}
.site-h1{
    font-size: 24px;
    color: #000000;
}
@media (max-width: 992px)
{
    .about-page-heading, .tracker-page-heading, .request-page-heading {
        font-size: 24px;
    }
}

/** TRACKER **/
.tracker-chat__container{
    display: flex;
    flex-direction: column;
    max-height: 750px;
    color: #262424;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tracker-chat__message-list{
    padding: 50px;
    height: 547px;
    overflow-y: auto;
}
.tracker-chat__input-container{
    padding: 20px;
    height: auto;
    background-color: #f5f5f5;
}
.tracker-chat__send-message-button {
    background: #EC9C23;
    height: 45px;
    line-height: 27px;
    color: #FFFFFF !important;
    display: block;
    margin-left: auto;
    max-width: 175px;
    width: 100%;
    text-align: center;
}
.tracker-chat__send-message-button:hover {
    cursor: pointer;
}
.tracker-chat__header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 90px;
    border-bottom: 2px solid #EC9C23
}
.tracker-chat__header span{
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.tracker-chat__link{
    color: #262424;
}
.tracker-chat__link:hover{
    cursor: pointer;
    color: #262424;
    text-decoration: none;
}
.tracker-chat__message-container{
    padding: 20px;
    overflow-wrap: anywhere;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 45%;
    background-color: #eee;
    position: relative;
}
.tracker-chat__message-container:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 0px;
}
.tracker-chat__message-container:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.tracker-chat__message-mine-container {
    overflow-wrap: anywhere;
    float: right;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    margin-left: 45%;
    color: #FFFFFF;
    background: #EC9C23;
    background-attachment: fixed;
    position: relative
}
@media (max-width: 1200px){
    .tracker-chat__message-container{
        margin-right: 20%;
    }
    .tracker-chat__message-mine-container{
        margin-left: 20%;
    }
}
@media (max-width: 772px){
    .tracker-chat__message-container{
        margin-right: 10%;
    }
    .tracker-chat__message-mine-container{
        margin-left: 10%;
    }
    .cabinet-chat__message-list{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
.tracker-chat__message-mine-container:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: #EC9C23;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}
.tracker-chat__message-mine-container:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}
@media (max-width: 772px){
    .tracker-chat__textarea{
        height: 95px;
    }
}

.tracker-code-form__container {
    padding-top: 50px;
    padding-bottom: 100px;
}
@media (max-width: 992px){
    .tracker-code-form__container {
        padding-bottom: 50px;
    }
}
.tracker-code-form__title {
    font-weight: bold;
    font-size: 60px;
}
.tracker-code-form__code-input {
    background-color: #262424;
    font-size: 45px;
    font-weight: bold;
    color: white;
    border: none;
}
.tracker-code-form__code-input-container {
    border-bottom: 2px solid;
}
@media(max-width: 1200px){
    .tracker-code-form__code-input {
        font-size: 30px;
    }
    .tracker-code-form__title {
        font-size: 40px;
    }
}
@media(max-width: 576px){
    .tracker-code-form__code-input{
        font-size: 20px;
    }
}
.tracker-code-form__link-container {
    padding: 3px 15px;
}
.tracker-code-form__rememberme_code_link {
    color: #FFFFFF;
    font-size: 17px;
    opacity: 0.6;
    text-decoration:none;
}
.tracker-code-form__rememberme_code_link:hover {
    color: #EC9C23;
    opacity: 1;
    text-decoration:none;
}
.tracker-code-form__submit-button {
    display: inline-block;
    background: #EC9C23;
    color: #FFFFFF;
    max-width: 315px;
    width: 100%;
    height: 60px;
    line-height: 45px;
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0;
    outline:none;
    border:none;
}
.tracker-code-form__submit-button:hover {
    cursor: pointer;
}
.tracker-container{
    padding-left: 10px;
    padding-right: 10px;
}
.tracker-header-info {
    padding-top: 20px;
    padding-bottom: 50px;
}
.tracker-header-caption{
    font-size: 48px;
    font-weight: 600;
}
.tracker-header-caption span{
    color: #EC9C23;
}
.tracker-header-date{
    font-size: 24px;
}
.tracker-header-step{
    color: #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
}
.tracker-header-step.active{
    color: #EC9C23;
    border-bottom: 2px solid #EC9C23;
}
.tracker-response{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
}
.tracker-response-name{
    font-weight: 600;
    font-size: 24px;
    color: #262424;
}
.tracker-response-location{
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}
.tracker-response-stats{
    color: #EC9C23;
    font-size: 20px;
}
.tracker-response-stats img{
    width: 20px;
}
.tracker-response-img{
    width: 100%;
}
.tracker-response-open, .tracker-response-open:hover{
    font-size: 20px;
    color: #EC9C23;
    text-decoration: none;
}
.tracker-response-text{
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-bottom: 20px;
}
.tracker-response-actions {
    color: #262424;
    height: 100%;
    border-left: 3px solid #EC9C23;
    padding: 0 10px;
    font-size: 20px;
}
@media(max-width: 1200px){
    .tracker-response-actions{
        border: none;
        padding: 0;
    }
}
.request-info-toggle:hover{
    cursor: pointer;
}
.request-info-toggle img{
    transition: transform .3s;
}
.request-info-toggle.collapsed img{
    transform: rotate(180deg);
}
.request-info-container{
    display: flex;
}
.tracker-response-actions a{
    display: block;
    color: #262424;
}
.tracker-response-actions a:hover
{
    text-decoration: none;
}
.tracker-request-information__name{
    font-weight: bold;
    font-size: 20px;
    color: #EC9C23;
}
.tracker-request-information__value{
    font-size: 20px;
    color: #262424;
}
.tracker-request-action
{
    text-align: center;
    display: inline-block;
    padding: 5px 5px;
    font-weight: bold;
    width: 240px;
    font-size: 20px;
    color: #EC9C23;
    border: 3px solid #EC9C23;
}
.tracker-request-action:hover
{
    cursor: pointer;
    color: #FFFFFF;
    background: #EC9C23;
    text-decoration: none;
}


/** PAGINATION **/
.pagination-ul
{
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 20px;
    margin: 0;
}
.pagination-ul li
{
    display: inline-block;
    height: 40px;
    width: 40px;
}
.pagination-navigation-link{
    display: inline-block;
    width: 40px;
}
.pagination-navigation-link img{
    width: 100%;
}
@media (max-width: 470px){
    .pagination-ul li
    {
        display: inline-block;
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
    .pagination-3-dots > svg{
        width: 20px;
    }
}
.pagination-ul li.pagination-link
{
    border: 3px solid #EC9C23;
}
.pagination-ul li a
{
    height: 100%;
    color: #EC9C23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-ul li.pagination-link a:hover
{
    text-decoration: none;
    background: #EC9C23;
    color: #FFFFFF;
}
.pagination-ul li.pagination-link.active{
    background: #EC9C23;
    color: #FFF;
}
.pagination-ul li.pagination-link.active a{
    color: #FFF;
}
/** REQUEST **/
.request-form
{
    padding: 20px 20px;
}
.request-form-field
{
    font-weight: bold;
    color: #EC9C23;
    font-size: 20px;
}
.request-form-field-required{
    font-size: 12px;
    color: #E74C3C;
    font-weight: normal;
}
.request-form .input-outlined
{
    border: 1px solid #EC9C23;
}
.show-all-deadlines .select2-results__options{
    max-height: 400px !important;
}
.request-form-select
{
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    height: 48px;
    background: #FBFBFB;
    background-size: 20px 20px;
    border: 0;
    border-radius: 0;
}
.settings-select {
    max-width: 400px;
    height: 48px;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center;
    background-size: 20px 20px;
    border: 0;
    border-radius: 0 !important;
}
.settings-select .vs__selected{
    color: #000000;
}
.request-form-select:hover{
    cursor: pointer;
}
.request-form-select ~ .select2-container .select2-selection--multiple{
    border: none;
    border-radius: 0;
    min-height: 48px;
    height: auto;
    padding: 5px;
    background-color: #FBFBFB !important;
}
.settings-select .vs__dropdown-toggle {
    border: 0;
    border-radius: 0 !important;
}
.settings-select .vs__dropdown-toggle .vs__clear {
    margin-right: 34px;
}
.settings-select .vs__dropdown-toggle .vs__clear svg {
    display: none;
}
.settings-select .vs__dropdown-toggle .vs__open-indicator {
    display: none;
}
.settings-select .vs__dropdown-menu li:hover {
    background-color: #EC9C23;
    color: white;
}
.settings-select .vs__dropdown-menu{
    max-height: 205px;
}
.settings-select .vs__dropdown-menu li{
    color: black;
    font-size: 20px;
    padding-left: 0.5rem;
    background-color: white;
    height: 40px;
}
.settings-select .vs__selected-options input{
    padding: 0 5px;
}
.settings-select #vs1__combobox, .settings-select #vs2__combobox {
    height: 100%;
    border: 0;
}
.cabinet-form-select ~ .select2-container{
    min-height: 40px;
    width: 94% !important;
    border-radius: 0;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center !important;
}
.cabinet-form-select:disabled ~ .select2-container .select2-selection--single,
.cabinet-form-select:disabled ~ .select2-container .select2-selection--multiple
{
    background-color: #eee !important;
}
.cabinet-form-select option:disabled{
    color: #C4C4C4;
}
.cabinet-form-select option{
    color: #000000;
}
.cabinet-form-select ~ .select2-selection__rendered {
    height: 40px;
    padding: 7px;
}
.cabinet-form-select ~ .select2-selection .select2-selection--single {
    background-color: #FBFBFB;
    border: none !important;
    border-radius: 0 !important;
}
.cabinet-form-select ~ .select2-container .select2-selection--single{
    border: none;
    border-radius: 0;
    height: 40px;
    padding: 7px;
    background: #FBFBFB;
}
.cabinet-form-select ~ .select2-container .select2-selection--single{
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat;
    background-size: 20px;
    background-position: right 15px center;
}
.cabinet-form-multi-select ~ .select2-selection__rendered {
    height: 40px;
    padding: 7px;
}
.cabinet-form-multi-select ~ .select2-selection .select2-selection--single {
    background-color: #FBFBFB;
    border: none !important;
    border-radius: 0 !important;
}
.cabinet-form-multi-select ~ .select2-container .select2-selection--single{
    border: none;
    border-radius: 0;
    height: 40px;
    padding: 7px;
    background: #FBFBFB;
}
.cabinet-form-multi-select ~ .select2-container{
    min-height: 40px;
    width: 94% !important;
    border-radius: 0;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center !important;
}
.cabinet-form-multi-select ~ .select2-container .select2-selection--single{
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat;
    background-size: 20px;
    background-position: right 15px center;
}
.image-list-container .image-highlight:hover {
    border: 1px solid  #EC9C23 !important;
}
.image-list-container .image-highlight {
    border: 1px solid  #EC9C23 !important;
}
.cabinet-form-component-select {
    width: 94%;
    height: 40px;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center;
    background-size: 20px 20px;
    border: 0;
    border-radius: 0 !important;
}
 .cabinet-form-component-select .vs__dropdown-toggle {
     border: 0;
     border-radius: 0 !important;
 }
.cabinet-form-component-select .vs__dropdown-toggle .vs__clear {
    margin-right: 34px;
}
.cabinet-form-component-select .vs__dropdown-toggle .vs__clear svg {
    height: 12px;
    fill: rgba(236,156,35, 0.8);
}
.cabinet-form-component-select .vs__dropdown-toggle .vs__open-indicator {
    display: none;
}
.cabinet-form-component-select .vs__dropdown-menu li:hover {
    background-color: #EC9C23;
    color: white;
}
 .cabinet-form-component-select .vs__dropdown-menu{
     max-height: 205px;
 }
.cabinet-form-component-select .vs__dropdown-menu li{
    color: black;
    font-size: 20px;
    padding-left: 0.5rem;
    background-color: white;
    height: 40px;
}
.cabinet-form-component-select .vs__selected-options input{
    padding: 0 5px;
}
 .cabinet-form-component-select #vs1__combobox {
    border: 0;
}
.request-form-select.input-outlined ~ .select2-container{
    border: 1px solid #EC9C23;
}
.select2-hidden ~ .select2-container:first-of-type{
    display: none;
}
.dossier-menu-select ~ .select2-container{
    border: none;
    border-radius: 0;
    height: 43px;
    border: 3px solid #EC9C23;
}
.request-form-select:disabled ~ .select2-container .select2-selection--single,
.request-form-select:disabled ~ .select2-container .select2-selection--multiple
{
    background-color: #eee !important;
}
.request-form-select ~ .select2-container{
    background: url(/img/request/request-arrow-down.png) no-repeat;
    background-size: 20px;
}
.dossier-menu-select ~ .select2-container .select2-selection--single{
    border: none;
    border-radius: 0;
    height: 48px;
    padding: 10px;
    background: url(/img/dossier/filter-arrow.png) no-repeat;
    background-size: 20px;
    background-position: right 5px center;
}
.dropdown-menu-select ~ .select2-container .select2-selection--single{
    padding-left: 0.25rem;
    height: 30px !important;
    font-size: 15px;
    width: 100%;
    border-radius: 0;
    border: 2px solid #EC9C23;
    background: #FFFFFF url(/img/dossier/filter-arrow.png) no-repeat right 0.5vw center;
    background-size: 15px 15px;
}
.request-form-select ~ .select2-container .select2-selection--single{
    border: none;
    border-radius: 0;
    height: 48px;
    padding: 10px;
    background: #FBFBFB;
}
.request-form-select:not(#city-select) ~ .select2-container .select2-selection--single{
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}
.dossier-menu-select ~ .select2-container .select2-selection--single{
    font-size: 18px;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 5px;
}
.dropdown-menu-select ~ .select2-container .select2-selection--single{
    font-size: 16px;
    border-radius: 0;
    height: 100%;
    padding-left: 0.25rem;
}
.select2-container .select2-dropdown{
    border-radius: 0;
}
.select2-container .select2-selection--single .select2-selection__arrow b
{
    display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    color: #000000;
    padding-left: 0;
}
.select2-container .select2-selection--single .select2-selection__placeholder
{
    color: #AFA9A9;
}
.select2-container .select2-results__option--selectable
{
    color: #000000 !important;
}
.select2-container .select2-results__option--highlighted.select2-results__option--selectable
{
    color: #FFF !important;
    background-color: #EC9C23 !important;
}
.dossier-menu-select ~ .select2-container .select2-results__option{

    padding-left: 5px;
    padding-right: 5px;
}
.dropdown-menu-select ~ .select2-container .select2-results__option{
    height: 30px;
    font-size: 16px !important;
    padding-left: 0.25rem;
}
.filters-select-dropdown .select2-results__options{
    max-height: unset !important;
}
.filters-select-dropdown .select2-results__option{
    font-size: 18px;

    padding: 2px 5px;
}
.dossier-menu-select ~ .select2-container .select2-selection--single .select2-selection__placeholder {
    color: #000000;
}
.dropdown-menu-select ~ .select2-container .select2-selection--single .select2-selection__placeholder {
    color: #000000;
}
.cabinet-access-request .select2-container{
    max-width: 400px;
}

.request-form-text
{
    color: #000000;
    height: 48px;
    background: #FBFBFB;
    padding: 10px;
    border: 0;
}
.request-form-text::placeholder
{
    color: #AFA9A9;
}
.textarea-container
{
    min-height: 150px;
    max-height: 600px;
    min-width: 100%;
    max-width: 100%;
    height: 400px;
    position: relative;
}
.request-form-textarea
{
    background: #FBFBFB;
    height: 100%;
    resize: none;
    border-width: 10px 10px 35px 10px;
    border-style: solid;
    border-color: transparent;
}
.request-form-textarea::placeholder{
    color: #AFA9A9;
}
.textarea-container .ui-icon {
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-image: url(/img/request/drag.png);
    height: 20px;
    width: 20px;
    bottom: 3px;
    right: 3px;
}
.textarea-container .ui-icon:hover{
    cursor: nwse-resize;
}
.textarea-helpers
{
    color: #737272;
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    right: 30px;
}
.textarea-attach
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
}
.custom-file-upload{
    cursor: pointer;
}
#attachment-file-name{
    color: #262424;
    font-size: 16px;
}
select.request-form-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
/* For IE10 */
select.request-form-select::-ms-expand {
    display: none;
}
.request-form .double-input{
    display: flex;
}
.request-form .double-input *:first-child
{
    margin: 0;
    flex-grow: 100;
}
.request-form .double-input *:last-child
{
    color: #262424;
    margin: 0;
    width: 90px;
    background: #F6F6F6 url(/img/request/request-arrow-down.png) no-repeat right 15px center;
    background-size: 20px 20px;
}
.request-form .phone-caption
{
    font-size: 35px;
    color: #262424;
}
.request-info
{
    color: #262424;
    font-weight: bold;
    font-size: 20px;
}
.request-info img
{
    width: 36px;
    vertical-align: sub;
}
.request-agreement
{
    color: #262424;
    font-size: 26px;
}
/* Customize the label (the container) */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border: 3px solid #EC9C23;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: inline-block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.request-form-submit
{
    display: inline-block;
    background: #FFF;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #EC9C23;
    border: 3px solid #EC9C23;
}
.request-form-submit:hover
{
    cursor: pointer;
    color: #FFFFFF;
    background: #EC9C23;
}
.request-verify{
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
}
.request-change-email{
    font-size: 22px;
    color: #EC9C23;
}
.request-change-email:hover{
    color: #EC9C23;
}
.request-verified-header{
    font-weight: bold;
    font-size: 60px;
}
.request-verified-code{
    font-weight: 600;
    color: #EC9C23;
    font-size: 42px;
}
.request-code-send{
    font-size: 24px;
}
.request-code-button{
    color: #FFF;
    background: none;
    border: 2px solid #EC9C23;
    width: 100px;
    height: 35px;
}
.request-code-button:hover{
    cursor: pointer;
    background: #EC9C23;
}
.request-phone-caption{
    color: #262424;
}
/** AUTH **/

.auth-header-info{
    padding-top: 20px;
    padding-bottom: 50px;
}
.auth-header-caption{
    font-size: 48px;
    font-weight: 600;
    color: #EC9C23;
}
.login-form{
    font-family: Open Sans;
    font-size: 20px;
}
.auth-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #979797;
}
.auth-input::-moz-placeholder { /* Firefox 19+ */
    color: #979797;
}
.auth-input:-ms-input-placeholder { /* IE 10+ */
    color: #979797;
}
.auth-input:-moz-placeholder { /* Firefox 18- */
    color: #979797;
}
.login-input-email, .login-input-password, .login-input-password-container{
    height: 50px;
    max-width: 300px;
    width: 100%;
}
.login-input-email{
    padding: 10px;
}
.login-input-password{
    padding: 10px 30px 10px 10px;
}
.password-toggle{
    display: block;
    background-image: url(/img/login/password-toggle.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 5px;
    top: 16px;
}
.password-toggle:hover{
    cursor: pointer;
}
.login-button,.password-request-button{
    color: #FFF;
    background: #EC9C23;
    padding: 10px;
    max-width: 300px;
    height: 50px;
    line-height: 25px;
    width: 100%;
    border: none;
}
.login-button:hover, .password-request-button{
    cursor: pointer;
}
.register-small-button{
    width: 230px;
    font-size: 16px;
    padding: 5px 40px;
    display: inline-block;
    color: #EC9C23;
    border: 3px solid #EC9C23;
}
.register-small-button:hover{
    cursor: pointer;
    color: #EC9C23;
    text-decoration: none;
}
.login-social-link{
    display: inline-block;
    width: 230px;
    color: #FFF;
    font-size: 16px;
    padding: 5px 40px 5px 15px;
    border: 3px solid #EC9C23;
    text-align: left;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 8px center;
}
.login-social-link.login-google{
    background-image: url(/img/login/google.png)
}
.login-social-link.login-facebook{
    background-image: url(/img/login/fb.png)
}
.login-social-link:hover{
    color: #FFF;
    background-color: #EC9C23;
    text-decoration: none;
}
.forgot-password{
    font-size: 16px;
    color: #979797;
}
.forgot-password:hover{
    color: #EC9C23;
    text-decoration: none;
}
@media(min-width: 1330px){
    .forgot-password{
        margin-left: 10px;
    }
}
.password-request-button{
    max-width: 300px;
}

/** CABINET **/
.cabinet-chat__header{
    padding-left: 20px;
    padding-top: 0px;
    height: 45px;
    border-bottom: 2px solid #EC9C23
}

.cabinet-chat__message-list{
    padding: 50px;
    max-height: 504px;
    overflow-x: auto;
}
.cabinet-container{
    color: #262424;
    font-size: 20px;
    padding: 20px;
}
.lawyer-name{
    white-space: nowrap;
}
@media (max-width: 576px){
    .lawyer-name{
        font-size: 16px;
    }
}
.lawyer-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.dossier-status-1,.dossier-status-2,.dossier-status-3{
    font-size: 13px;
    margin-bottom: 10px;
}
.dossier-status-1{
    color: #E74C3C;
}
.dossier-status-2{
    color: #2ECC71;
}
.dossier-status-3{
    color: #EC9C23;
}
.cabinet-navigation{
    list-style: none;
    padding-left: 0;
}
.cabinet-navigation > li{
    font-weight: 600;
    margin-bottom: 1rem;
    max-width: 235px;
    padding: 5px 0;
    color: black;
}
.cabinet-navigation > li:hover, .cabinet-navigation > li.active{
    box-shadow: 0px -2px 0px #EC9C23 inset;
}
.cabinet-navigation > li.active .cabinet-navigation-link, .cabinet-navigation > li:hover .cabinet-navigation-link{
    color: #EC9C23;
}
.cabinet-navigation-link{
    color: #262424;
}
.cabinet-navigation-link:hover{
    color: #262424;
    text-decoration: none;
}
.counters-container{
    display: inline-block;
    /*float: right;*/
    margin-right: 5px;
}
.counter-red,.counter-orange,.counter-yellow{
    display: inline-block;
    color: #FFFFFF;
    background-color: #E74C3C;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
}
.counter-orange{
    background-color: #EC9C23;
}
.counter-yellow{
    background-color: #ec9c2391;
}
.sidebar-navigation-mobile-container{
    padding: 20px;
}
.sidebar-navigation-mobile.show ~ *{
    opacity: 0.25;
}
.sidebar-navigation-mobile{
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: width .3s;
    height: 100%;
    width: 0;
    max-width: 600px;
    position: fixed;
    z-index: 100;
    color: #262424;
    font-size: 20px;
    overflow-y: auto;
}
.sidebar-navigation-mobile{
    white-space: nowrap;
}
.sidebar-navigation-mobile .close{
    font-size: 40px;
    position: sticky;
    right: 10px;
    top: 5px;
}
.sidebar-navigation-mobile .fade-out{
    transition: opacity 150ms linear;
    opacity: 1;
}
.open-side-navigation{
    text-align: center;
    position: fixed;
    top: 150px;
    left: 0px;
    height: 100px;
    width: 25px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    background-color: #EC9C23;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.open-side-navigation > span{
    position: absolute;
    left: 7px;
    top: 34px;
}
span.cabinet-checkbox-expand::after{
    content: '';
    position: absolute;
    top: 20px;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: #EC9C23 transparent transparent transparent;
}
.cabinet-checkbox-select:hover, .cabinet-checkbox-expand:hover{
    cursor: pointer;
}
.cabinet-delete-icon{
    display: inline-block;
    vertical-align: text-top;
}
.cabinet-delete-icon:hover{
    cursor: pointer;
}
.cabinet-select-dropdown{
    display: inline;
}
.cabinet-select-dropdown .dropdown-menu{
    padding: .2rem 0;
    border-radius: 0;
}
.cabinet-select-dropdown .dropdown-item{
    white-space: unset;
    padding: .2rem .5rem;
    color: #000000;
}
.cabinet-select-dropdown .dropdown-item:active{
    color: #FFF;
    background-color: #EC9C23;
}
.cabinet-select-dropdown .dropdown-item:hover{
    cursor: pointer;
}
.cabinet-select-dropdown .dropdown-menu{
    top: 10px !important;
    left: -40px !important;
}
.cabinet-select-dropdown .dropdown-menu{
    width: 200px;
}
.cabinet-requests-table{
    width: 100%;
    border-collapse: collapse;
}
.cabinet-requests-table td{
    padding: 10px;
}
.request-main-content:hover, .mail-main-content:hover, .rating-main-content:hover{
    cursor: pointer;
}
.table-row{
    position: relative;
    border-bottom: 2px solid #DFDFDF;
    background: #F9F9F9;
}
.table-row.active{
    background: #FFFFFF;
}
.table-row.in-bookmarks{
    background: #ec9c234a;
}
.table-row.selected{
    background: #ececec
}
.table-row .select-dropdown a:last-child{
    display: none;
}
.table-row.selected .select-dropdown a:first-child{
    display: none;
}
.table-row.selected .select-dropdown a:last-child{
    display: block;
}
body.hasHover .table-row:hover .table-request-info{
    display: none
}
body.hasHover .table-row:hover .table-request-actions{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.table-checkmark{
    height: 115px;
    border-right: 1px solid #EC9C23;
}
.table-checkmark .checkbox-container{
    margin-bottom: 0;
    margin-top: 48px;
    padding-left: 25px;
}
.table-user-info{
    font-size: 14px;
    color: #3F3F3F;
}
.table-user-info span, .table-request-info span{
    color: #EC9C23;
}
span.deadline-past{
    color: #E74C3C;
}
span.table-urgent{
    vertical-align: text-bottom;
    display: inline-block;
    padding: 0 5px;
    margin-left: 10px;
    color: #E74C3C;
    font-size: 12px;
    border: 1px solid #E74C3C;
}
.request-has-reply{
    position:absolute;
    top: 5px;
}
@media (max-width: 1199px){
    .request-has-reply{
        top: 1px;
        left: 14px;
    }
}
.request-has-reply::after{
    content: '';
    display: inline-block;
    background: url(/img/cabinet/reply.png);
    width: 32px;
    height: 32px;
    background-size: contain;
}
.request-item-more-actions{
    z-index: 1;
    position: absolute;
    cursor: pointer;
    border: 0;
    height: 40px;
    width: 40px;
    background: url(/img/cabinet/more-action.png) no-repeat center;
    right: 0px;
    top: 2px;
}
/*.table-request-info span{*/
/*    display: inline-block;*/
/*    margin-top: 18px;*/
/*}*/
.table-request-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 12px;
    color: #979797;
}
.table-mail-info{
    text-align: right;
    font-size: 12px;
    color: #979797;
}
.table-request-info div:last-child{
    margin-top: auto;
}
.table-request-actions{
    display: none;
    text-align: center
}
.table-request-actions img{
    width: 28px;
}
.table-request-actions .remove-from-bookmarks, .cabinet-request-bookmark .remove-from-bookmarks{
    display: none;
}
.table-request-actions.in-bookmarks .add-to-bookmarks, .cabinet-request-bookmark.in-bookmarks .add-to-bookmarks{
    display: none
}
.table-request-actions.in-bookmarks .remove-from-bookmarks, .cabinet-request-bookmark.in-bookmarks .remove-from-bookmarks{
    display: inline-block;
}
.table-text{
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pbt-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media(min-width: 992px){
    .cabinet-delimiter{
        border-left: 2px solid #EC9C23;
        margin-top: -20px;
    }
}

.cabinet-request-user,.cabinet-request-contacts, .cabinet-mail-contact{
    font-size: 16px;
}
.cabinet-request-cost, .cabinet-request-deadline{
    color: #EC9C23;
}
.cabinet-request-info{
    font-size: 13px;
}
.cabinet-request-header{
    border-bottom: 2px solid #DFDFDF;
    padding: 5px 0;
}
.cabinet-request-time, .cabinet-request-date{
    color: #979797;
}
.cabinet-request-time{
    position: relative;
    display: inline-block;
}
.cabinet-request-time::before{
    content: '';
    position: absolute;
    right: 32px; top: 0px;
    background: url(/img/cabinet/time.svg);
    background-size: 19px;
    height: 19px;
    width: 19px;
}
.cabinet-request-contacts{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}
/*@media(max-width: 772px){*/
/*    .cabinet-request-contacts{*/
/*        flex-direction: column;*/
/*    }*/
/*}*/
.cabinet-request-callme{
    font-size: 16px;
    font-weight: 600;
    color: #262424;
}
.cabinet-request-text{
    font-size: 18px;
    overflow-wrap: anywhere;
    padding: 10px 0;
}
.cabinet-request-attachment{
    font-size: 16px;
    color: #EC9C23;
}
.cabinet-request-attachment:hover{
    color: #EC9C23;
    text-decoration: none;
}
.cabinet-request-report{
    font-size: 16px;
    color: #E74C3C;
    position: relative;
    padding-left: 30px;
}
.cabinet-request-report:hover{
    color: #E74C3C;
    text-decoration: none;
}
.cabinet-request-report::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: url(/img/cabinet/report.png);
    background-size: 24px;
    width: 24px; height: 24px;
}
.cabinet-request-reply{
    background: #FFF;
    display: inline-block;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #EC9C23;
    border: 3px solid #EC9C23;
}
.cabinet-request-reply:hover{
    color: #FFFFFF;
    background: #EC9C23;
    cursor: pointer;
}
.cabinet-request-reply.active{
    color: #FFFFFF;
    background: #EC9C23;
}
.cabinet-reply-form{
    margin-top: 30px;
}
.cabinet-textarea-container{
    position: relative;
    padding: 50px 15px 15px 15px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cabinet-textarea-container::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;
    background: url(/img/cabinet/reply.png);
    background-size: 32px;
    width: 32px;
    height: 32px;
}
/*.cabinet-textarea-container::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 24px;*/
/*    left: 65px;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-style: solid;*/
/*    border-width: 8px 8px 0 8px;*/
/*    border-color: #C4C4C4 transparent transparent transparent;*/
/*}*/
.cabinet-reply-textarea{
    border: 0;
    width: 100%;
}
.cabinet-reply-textarea:focus{
    outline: none;
}
.cabinet-reply-textarea::placeholder{
    font-size: 18px;
    color: #C4C4C4;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.cabinet-reply-textarea::-webkit-resizer {
    display: none;
}
.textarea-replyto{
    position: absolute;
    left: 100px;
    top: 12px;
    color: #3F3F3F;
    font-size: 18px;
}
.cabinet-reply-submit{
    font-size: 18px;
    color: #FFF;
    border: 0;
    display: inline-block;
    background: #EC9C23;
    padding: 5px 35px;
}
.cabinet-reply-submit:hover{
    cursor: pointer;
}
#cabinet-reply-block{
    display: none;
}
.cabinet-index-container{
    padding-top: 40px;
}
.cabinet-index-about{
    position: relative;
    list-style: none;
    margin-left: 30px;
}
.cabinet-index-about::before{
    content: '';
    position: absolute;
    bottom: 0;
    top: 10px;
    width: 2px;
    background-color: #EC9C23;
    left: 23px;
}
.cabinet-index-step{
    margin-bottom: 20px;
}
.cabinet-index-bigstep,.cabinet-index-step{
    position: relative;
}
.cabinet-index-step::before{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #EC9C23;
    position: absolute;
    top: 7px;
    left: -23px;
}
.cabinet-index-bigstep::before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #EC9C23;
    position: absolute;
    top: 6px;
    left: -24px;
}
.cabinet-index-bigstep::after{
    transform: scale(.75);
    position: absolute;
    left: -80px;
    top: -4px;
}
.cabinet-index-bigstep-1::after{
    content: url(/img/about/01.png);
}
.cabinet-index-bigstep-2::after{
    content: url(/img/about/02.png);
}
.cabinet-index-bigstep-3::after{
    content: url(/img/about/03.png);
}
.cabinet-index-bigstep-4::after{
    content: url(/img/about/04.png);
}

/** CABINET SETTINGS **/

.cabinet-validation-error, .modal-validation-error{
    display: block;
    font-size: 14px;
    color: #E74C3C;
}
.dossier-cabinet-form-container .cabinet-validation-error{
    font-weight: 600;
}
@media (min-width: 992px){
    .cabinet-request-container, .cabinet-settings-container{
        padding-top: 30px;
        padding-left: 20px;
    }
}
.cabinet-settings-navigation{
    position: relative;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.cabinet-settings-navigation::before, .cabinet-settings-navigation::after{
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #DFDFDF;
    z-index: -1;
}
.cabinet-settings-navigation::before{
    top: 0;
}
.cabinet-settings-navigation::after{
    bottom: 0;
}
.cabinet-settings-link{
    padding: 8px 0;
}
.cabinet-settings-link.active{
    display: inline-block !important;
    border-bottom: 2px solid #EC9C23;
}
.cabinet-settings-link.active a{
    color: #3F3F3F;
}
.cabinet-settings-link a{
    font-size: 18px;
    color: #262424;
}
.cabinet-settings-link a:hover{
    text-decoration: none;
    color: #262424;
}
.cabinet-settings-link.active a:hover{
    text-decoration: none;
    color: #3F3F3F;
}

.cabinet-settings-form{
    padding-top: 20px;
}
.settings-email-input label, .settings-password-input label{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #262424;
}
.settings-email-input{
    position: relative;
}
#settings-email{
    width: 100%;
    max-width: unset;
    padding-right: 40px;
}
.settings-email-input img{
    width: 20px;
    position: absolute;
    right: 6px;
    bottom: 20px;
}
.settings-email-input img:hover{
    cursor: pointer;
}
#settings-email:read-only{
    background: #eee;
}
.cabinet-settings-form input{
    font-size: 18px;
    border: 0;
    outline: 0;
    background: #FBFBFB;
    width: 100%;
    max-width: 400px;
    padding: 15px;
}
.settings-email-input{
    max-width: 400px;
}
.cabinet-settings-form input::placeholder{
    color: #979797;
    font-size: 18px;
}
.cabinet-settings-form button{
    display: inline-block;
    color: #FFF;
    height: 57px;
    width: 150px;
    background: #EC9C23;
    border: 0;
    outline: 0;
}
.cabinet-settings-form button:hover{
    cursor: pointer;
}
.cabinet-access-about{
    color: #000000;
    padding: 20px 0;
    font-size: 18px;
}
.cabinet-access-request,.cabinet-access-summary,.cabinet-access-selected{
    color: #000000;
    font-size: 18px;
}
.cabinet-access-about p, .cabinet-access-request p{
    margin-bottom: 0;
}
.cabinet-access-request .request-form-select{
    width: 100%;
    max-width: 400px;
    height: 48px;
}
.request-form-select option:disabled{
    color: #C4C4C4;
}
.request-form-select option{
    color: #000000;
}
.access-about-list{
    list-style: none;
    padding-inline-start: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.access-about-list > li{
    position: relative
}
.access-about-list li::before{
    content: '';
    position: absolute;
    left: -12px;
    top: 10px;
    background-color: #EC9C23;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}
.cabinet-access-summary{
    color: #262424;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}
.cabinet-access-summary.has-selected{
    color: #EC9C23;
}
.cabinet-access-cost > span{
    font-weight: 600;
}
.access-selected-header{
    color: #EC9C23;
}
.cabinet-access-selected img{
    width: 28px;
}
.cabinet-access-selected .cabinet-access-header{
    font-weight: normal;
    color: #EC9C23;
    border: 0
}
.cabinet-access-selected .table td, .cabinet-access-selected .table th{
    white-space: nowrap;
    border: 0;
}
.cabinet-access-pay, .cabinet-access-add{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #EC9C23;
}
.cabinet-access-pay{
    color: #FFF;
    background: #EC9C23;
}
.cabinet-access-add{
    background: #FFF;
    color: #EC9C23;
}
.cabinet-access-pay:hover, .cabinet-access-add:hover{
    cursor: pointer;
}
.access-history-action{
    width: unset !important;
    height: 24px;
}
/*.access-status.active .access-history-action:last-child, .access-status-name.active span:last-child{*/
/*    display: none;*/
/*}*/
/*.access-status:not(.active) .access-history-action:first-child, .access-status-name:not(.active) span:first-child {*/
/*    display: none;*/
/*}*/
/*.access-status:not(.active) .access-history-action:last-child, .access-status-name:not(.active) span:last-child {*/
/*    display: inline-block;*/
/*}*/
.access-status-active{
    color: #2ECC71;
}
.access-status-notactive{
    color: #E74C3C;
}
.access-status:hover{
    text-decoration: none;
}
.access-actions-form a:hover{
    text-decoration: none;
}
@media (max-width: 1199px){
    .access-row:not(:last-child){
        border-bottom: 2px solid #DFDFDF;
    }
}
@media (max-width: 1199px){
    .new-access-row{
        border-bottom: 2px solid #DFDFDF;
    }
}
    /* DOSSIER-CABINET-FORM */
.dossier-item-cabinet-index-card-name
{
    display: inline-block;
    font-size: 18px;
}
.dossier-item-cabinet-index-card-leng
{
    font-size: 15px;
}
.dossier-item-cabinet-index-card-img
{
    max-width: 100%;
    max-height: 100%;
}
.dossier-item-city{
    height: 44px;
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 17px;
}
.dossier-item-address
{
    display: flex;
    justify-content: center;
    line-height: 22px;
    font-size: 17px;
    height: 44px;
    white-space: normal;
    overflow: hidden;
}
.dossier-item-cabinet-index-card
{
    width: 280px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
}
.dossier-cabinet-add
{
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EC9C23;
    padding: 0px 15px;
    color: #ffffff;
    background: #EC9C23;
    text-decoration: none;
    width: 160px;
    height: 35px;
}
.dossier-cabinet-add-dossier
{
    font-size: 19px;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EC9C23;
    padding: 0px 15px;
    color: #ffffff;
    background: #EC9C23;
    text-decoration: none;
    /*width: 185px;*/
    min-height: 50px;
}
@media (max-width: 576px){
    .dossier-cabinet-add-dossier{
        font-size: 16px;
    }
}
.dossier-item-cabinet-index-more-actions
{
    cursor: pointer;
    border: 0;
    height: 30px;
    width: 20px;
    background: url(/img/cabinet/more-action.png) no-repeat 6px center;
}
.dossier-item-cabinet-index-card-more-container
{
    margin-top: 12px;
}
.dossier-item-cabinet-index-card-button
{
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EC9C23;
    color: #ffffff;
    background: #EC9C23;
    text-decoration: none;
    max-width: 180px;
    width: 100%;
    height: 30px;
}
.dossier-item-cabinet-index-card-button:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.cabinet-dossier-index-container
{
    padding-top: 20px;
    padding-left: 60px;
}
@media(max-width: 771px){
    .cabinet-dossier-index-container
    {
        padding-left: 20px;
    }
}

.dossier-cabinet-info
{
    color: #262424;
    border-left: 2px solid #EC9C23;
}
.cabinet-row
{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.cabinet-form-lang-select ~ .select2-container{
    width: 94% !important;
    height: 40px;
    border: 1px solid #EC9C23;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center;
    background-size: 20px 20px;
}
.cabinet-form-lang-select:disabled ~ .select2-container .select2-selection--single,
.cabinet-form-lang-select:disabled ~ .select2-container .select2-selection--multiple
{
    background-color: #eee !important;
}
.cabinet-form-lang-select option:disabled{
    color: #C4C4C4;
}
.cabinet-form-lang-select option{
    color: #000000;
}
.cabinet-form-lang-select ~ .select2-selection__rendered {
    padding: 7px;
}
.cabinet-form-lang-select ~ .select2-selection .select2-selection--single {
    background-color: #FBFBFB;
    border: none !important;
    border-radius: 0 !important;
}
.cabinet-form-lang-select ~ .select2-container .select2-selection--single{
    border: none;
    border-radius: 0;
    height: 38px;
    padding: 7px;
    background: #FBFBFB;
}
.cabinet-form-lang-select ~ .select2-container .select2-selection--single{
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat;
    background-size: 20px;
    background-position: right 15px center;
}
.cabinet-form-title
{
    padding: 0px;
    margin-left: 0px;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    background: #EC9C23;
}
.cabinet-form-title-contact
{
    font-size: 22px;
    font-weight: bold;
    color: #262424;
}
.cabinet-form-title-recommended
{
    font-size: 22px;
    font-weight: bold;
    color: #EC9C23;
}
.cabinet-form-title-recommended_sub
{
    font-size: 16px;
    font-weight: bold;
    color: #EC9C23;
}
.cursor-pointer:hover {
    cursor: pointer;
}
.cabinet-form-sub-title
{
    padding-left: 20px;
    font-style: italic;
    font-size: 22px;
    color: #EC9C23;
}
.cabinet-form-sub-title-required-block
{
    padding-left: 35px !important;
    font-style: italic;
    font-size: 22px;
    color: #EC9C23;
}
.cabinet-form-title span
{
    padding-left: 0px;
    margin-left: 38px;
    color: #FFFFFF;
}
.cabinet-form-text-double-input
{
    width: 94%;
    height: 40px;
    color: #262424;
    background: #FBFBFB;
    border: 0;
}
.display-aling-center
{
    display: flex;
    align-items: center;
}
.cabinet-form-field
{
    margin-left: 25px;
    color: #000000;
}
.cabinet-form-field-component
{
    margin-left: 25px;
    color: #000000;
}
.cabinet-form-text
{
    width: 94%;
    height: 40px;
    color: #262424;
    background: #FBFBFB;
    border: 0;
}
.has-error {
    border: #de100c solid 1px !important;
}
.cabinet-form-component-text
{
    width: 94%;
    height: 40px;
    color: #262424;
    background: #FBFBFB;
    border: 0;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #EC9C23 !important;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover {
    border: 1px solid #EC9C23 !important;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover {
    border: 1px solid #EC9C23 !important;
}
.vdp-datepicker__calendar .cell.selected {
    color: #FBFBFB;
    background: #EC9C23 !important;
}
.cabinet-form-component-text-from-to
{
    max-width: 184px;
    height: 40px;
    color: #262424;
    background: #FBFBFB;
    border: 0;
}
@media (min-width: 768px) and (max-width: 1199px){
    .dossier-form-hours{
        margin-left: 25px;
    }
}
.dossier-form-from-to{
    text-align: right;
    display: inline-block;
    width: 44px;
    font-size: 16px;
}
.cabinet-input-wrap
{
    width: 100%;
    flex-wrap: wrap;
}
.cabinet-multi-input-wrapper
{
    flex-wrap: nowrap;
}
.cabinet-multi-text-input
{
    width: 100%;
    height: 40px;
    color: #262424;
    margin-right: 13px;
    background: #FBFBFB;
    border: 0;
}
.container-button
{
    display: flex;
    align-items: flex-end;
}
.cabinet-container-text-socials
{
    width: 94%;
}
.cabinet-from-to-input-container
{
    width: 91%;
}
.cabinet-form-image-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
    background: #FBFBFB;
}
.cabinet-form-document-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    background: #FBFBFB;
}
.cabinet-form-document-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
.cabinet-btn-add
{
    margin-bottom: 3px;
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    background: url(/img/cabinet/form-plus.png) no-repeat center;
    background-size: 40px;
}
.cabinet-btn-delete
{
    margin-bottom: 3px;
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    background: url(/img/cabinet/access-deactivate.svg) no-repeat center;
    background-size: 32px;
}
.cabinet-btn-add-textarea
{
    margin-bottom: auto;
    margin-top: 25px;
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    background: url(/img/cabinet/form-plus.png) no-repeat center;
    background-size: 40px;
}
.cabinet-btn-add-form-item
{
    border: 0;
    height: 36px;
    width: 36px;
    background: url(/img/cabinet/form-plus.png) no-repeat center;
    background-size: 40px;
}
.cabinet-btn-delete-form-item
{
    margin-bottom: 3px;
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    background: url(/img/cabinet/access-deactivate.svg) no-repeat center;
    background-size: 32px;
}
.cabinet-form-dynamic-item-add-container
{
    display: flex;
    align-items: center;
}
.cabinet-form-dynamic-item-add-container:hover
{
    cursor: pointer;
}
.cabinet-btn-add-form-item:hover
{
    cursor: pointer;
}
.cabinet-btn-delete-form-item:hover
{
    cursor: pointer;
}
.cabinet-form-dynamic-item-add-container span
{
    color: #EC9C23;
    margin-left: 2%;
}
.cabinet-form-phone-wrap-container
{
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.cabinet-form-phone-row
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.cabinet-btn-add-phone
{
    margin-bottom: 53px;
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    background: url(/img/cabinet/form-plus.png) no-repeat center;
    background-size: 40px;
}
.cabinet-phone-checkbox
{
    height: 25px;
    width: 25px;
}
.btn-upload-document-icon
{
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    background: url(/img/cabinet/form-plus.png) no-repeat center;
    background-size: 40px;
}
button.btn-upload-document-icon{
    outline: none;
}
.btn-drop-down-form
{
    cursor: pointer;
    border: 0;
    height: 20px;
    width: 20px;
    background: url(/img/cabinet/drop-down-form.png) no-repeat center;
}
.btn-drop-down-form-rotate {
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}
.btn-drop-down-form-rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.btn-upload-document-icon input[type=file]
{
    display: none;
    width: 36px;
    opacity: 0;
}
.cabinet-form-document-wrapper span
{
    font-size: 16px;
    color: #EC9C23;
}
.btn-upload-icon
{
    cursor: pointer;
    border: 0;
    height: 36px;
    width: 36px;
    background: url(/img/cabinet/form-plus.png) no-repeat center;
    background-size: 40px;
}
.cabinet-from-field {
    left: 14px;
}
@media (max-width: 1350px) {
    .cabinet-from-to-input-container {
        width: 85%;
    }
    .cabinet-from-field {
        left: 0;
    }
}

@media (max-width: 992px) {
    .cabinet-from-to-input-container {
        width: 100% !important;
    }
}

@media (max-width: 1199px) {
    .cabinet-from-to-input-container {
        width: 104%;
    }
    .cabinet-form-component-text-from-to {
        max-width: 100%;
    }
    .cabinet-form-select ~ .select2-container {
        width: 91% !important;
    }
    .cabinet-form-select {
        width: 91% !important;
    }
    .cabinet-form-text {
        width: 91% !important;
    }
    .cabinet-form-lang-select ~ .select2-container {
        width: 91% !important;
    }
    .cabinet-container-text-socials {
        width: 91% !important;
    }
    .cabinet-form-workinghours-select-container {
        width: 98% !important;
    }
    .cabinet-form-component-select
    {
        width: 89% !important;
        margin-left: 7px;
    }
    .cabinet-form-component-text {
        width: 89% !important;
        margin-left: 7px;
    }
}
@media (max-width: 767px) {
    .cabinet-form-sub-title-required-block {
        padding-left: 10px !important;
    }
    .cabinet-form-sub-title {
        padding-left: 0px !important;
    }
    .cabinet-from-to-input-container {
        margin-left: 0px;
    }
    .cabinet-text-decoration-line
    {
        font-size: 18px;
    }
    .cabinet-form-title span {
        margin-left: 15px;
    }
    .cabinet-form-select {
        width: 93% !important;
    }
    .cabinet-form-text {
        width: 93% !important;
    }
    .cabinet-form-lang-select ~ .select2-container {
        width: 93% !important;
    }
    .cabinet-container-text-socials {
        width: 93% !important;
    }
    .cabinet-form-workinghours-select-container {
        width: 100% !important;
    }
    .cabinet-form-field-component {
        margin-left: 1px;
    }
    .cabinet-form-component-select
    {
        width: 93% !important;
        margin-left: 1px;
    }
    .cabinet-form-component-text {
        width: 93% !important;
        margin-left: 1px;
    }
    .cabinet-form-field {
        margin-left: 0px;
    }
    .cabinet-btn-add-phone {
        margin-bottom: 45px;
    }
    .cabinet-from-to-input-container {
        width: 93%;
        padding-left: 12px;
    }
    .cabinet-form-dynamic-item-add-container {
        justify-content: center;
    }
}
@media (max-width: 540px) {
    .dossier-cabinet-info
    {
        border-left: 0px;
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
.btn-upload-icon:focus
{
    outline: none;
}
.btn-drop-down-form:focus
{
    outline: none;
}
.cabinet-btn-add-phone:focus
{
    outline: none;
}
.cabinet-btn-add-textarea:focus
{
    outline: none;
}
.cabinet-btn-delete:focus
{
    outline: none;
}
.cabinet-btn-add-form-item:focus
{
    outline: none;
}
.cabinet-btn-delete-form-item:focus
{
    outline: none;
}
.cabinet-btn-add:focus
{
    outline: none;
}
.btn-upload-icon input[type=file]
{
    display: none;
    width: 36px;
    opacity: 0;
}
.cabinet-form-image-wrapper span
{
    color: #EC9C23;
}
.cabinet-viber-img
{
    border-radius: 7px;
    height: 25px;
    width: 25px;
    background: url(/img/messengers/viber.svg) no-repeat center;
    background-size: contain;
}
.cabinet-whatsapp-img
{
    border-radius: 7px;
    height: 25px;
    width: 25px;
    background: url(/img/messengers/whatsapp.svg) no-repeat center;
    background-size: contain;
}
.cabinet-telegram-img
{
    border-radius: 7px;
    height: 25px;
    width: 25px;
    background: url(/img/messengers/telegram.svg) no-repeat center;
    background-size: contain;
}
.cabinet-skype-img
{
    border-radius: 7px;
    height: 25px;
    width: 25px;
    background: url(/img/messengers/skype.svg) no-repeat center;
    background-size: contain;
}
.cabinet-form-select
{
    color: #000000;
    width: 94% !important;
    height: 40px !important;
    padding-left: 10px;
    padding-right: 10px;
    /*background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center !important;*/
    background: #FBFBFB;
    background-size: 20px 20px !important;
    border: 0 !important;
    border-radius: 0 !important;
}
.cabinet-form-multi-select
{
    width: 100%;
    height: 40px;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 15px center;
    background-size: 20px 20px;
    border: 0;
}
select.cabinet-form-lang-select ~ .select2-container {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
/* For IE10 */
select.cabinet-form-lang-select ~ .select2-container::-ms-expand {
    display: none;
}
select.cabinet-form-multi-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
/* For IE10 */
select.cabinet-form-multi-select::-ms-expand {
    display: none;
}
select.cabinet-form-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
/* For IE10 */
select.cabinet-form-select::-ms-expand {
    display: none;
}
/*select.cabinet-form-component-select {*/
/*    !* for Firefox *!*/
/*    -moz-appearance: none;*/
/*    !* for Chrome *!*/
/*    -webkit-appearance: none;*/
/*}*/
/* For IE10 */
/*select.cabinet-form-component-select::-ms-expand {*/
/*    display: none;*/
/*}*/
.cabinet-form-textarea-container{
    position: relative;
    width: 100%;
}
.cabinet-form-textarea-container .textarea-helpers{
    right: 5px;
}
.cabinet-form-textarea
{
    resize: none;
    width: 100%;
    min-height: 250px;
    max-height: 400px;
    color: #262424;
    margin-right: 13px;
    background: #FBFBFB;
    border-width: 0px 0px 20px 0px;
    border-style: solid;
    border-color: transparent;
}
.cabinet-form-textarea::-webkit-resizer
{
    background-size: contain;
    background-position: center center;
    background-image: url(/img/request/drag.png);
}
.cabinet-form-workinghours-select-container
{
    width: 99%;
}
.cabinet-form-workinghours-select
{
    width: 100%;
    height: 40px;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 7px center;
    background-size: 20px 20px;
    border: 0;
}
select.cabinet-form-workinghours-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
/* For IE10 */
select.cabinet-form-workinghours-select::-ms-expand {
    display: none;
}
.cabinet-form-select-currency
{
    padding: 5px;
    height: 40px;
    width: 63px;
    font-size: 16px;
    background: #FBFBFB url(/img/request/request-arrow-down.png) no-repeat right 5px center;
    background-size: 15px 15px;
    border: 0;
}
.cabinet-form-select-value-input
{
    width: 56%;
    height: 40px;
    color: #262424;
    background: #FBFBFB;
    border: 0;
}
select.cabinet-form-select-currency {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
/* For IE10 */
select.cabinet-form-select-currency::-ms-expand {
    display: none;
}
.arrow-single-down {
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
.cabinet-form-submit
{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #EC9C23;
    background: white;
    border: 3px solid #EC9C23;
}
.cabinet-form-submit:hover
{
    cursor: pointer;
    color: #FFFFFF;
    background: #EC9C23;
}
.cabinet-text-decoration-line
{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-decoration-line: underline;
    color: #262424;
    background-color: white;
    border: none;
}
.cabinet-text-decoration-line:hover {
    cursor: pointer;
}

/** DOSSIER-SINGLE **/
.dossier-single-item
{
    font-size: 18px;
    padding: 15px;
}
.dossier-single-bookmark .bookmark-remove{
    display: none;
}
.dossier-single-bookmark.in-bookmarks .bookmark-add{
    display: none;
}
.dossier-single-bookmark.in-bookmarks .bookmark-remove{
    display: inline-block;
}
.dossier-single-socials-img{
    width: 30px;
}
.dossier-single-lawyer-name{
    font-size: 24px;
    font-weight: 600;
}
.dossier-navigation
{
    color: #EC9C23;
    font-size: 20px;
}
a.dossier-navigation:hover
{
    color: #EC9C23;
    text-decoration: none;
}
.dossier-single-motto
{
    font-size: 20px;
    color: #000000;
}
.dossier-single-lang{
    padding-right: 20px;
    position: relative;
}
.dossier-single-lang::after{
    content: '';
    background: url(/img/request/request-arrow-down.png/) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
    position: absolute;
    top: 7px;
    right: -5px;
}
.dossier-lang-option.active{
    background-color: #EC9C23;
}
.dossier-lang-option:focus{
    background-color: #EC9C23;
}
.dossier-single-info
{
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 0px 40px;
}
.law-text-gray
{
    color: #262424;
}
.dossier-single-info .single-info-header
{
    color: #EC9C23;
}
.dossier-single-socials-img{
    width: 20px;
    border-radius: 5px;
}
.dossier-single-socials-big img
{
    width: 39px;
}
.dossier-single-socials-big div
{
    /*margin: 15px 0;*/
}
.dossier-single-title-separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.dossier-single-title-separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #EC9C23;
}
.dossier-single-title-separator::after {
    margin-left: .70em;
}
.dossier-single-exp
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #262424;
    border-left: 3px solid #EC9C23;
    padding-left: 50px;
}
@media (max-width: 992px){
    .dossier-single-exp{
        border-left: none;
        padding: 0px 15px;
    }
    .dossier-single-info{
        padding: 0px 15px;
    }
}
.dossier-single-exp .exp-header
{
    font-size: 24px;
    color: #EC9C23;
    font-weight: bold;
    position: relative;
}
.dossier-single-exp .exp-section-header
{
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #EC9C23;
}
.experience-block-icon
{
    width: 50px;
    position: absolute;
    top: -20%;
    transform: translate(-100%, 0%);
}
.dossier-single-field-name
{
    font-weight: 600;
}
.dossier-single-actions
{
    font-weight: 600;
}
.dossier-single-actions div:first-child a, .dossier-single-actions div:first-child a:hover
{
    color: #EC9C23;
    cursor: pointer;
    text-decoration: none;
}
.dossier-single-actions div:last-child a, .dossier-single-actions div:last-child a:hover
{
    color: #E74C3C;
    cursor: pointer;
    text-decoration: none;
}
.dossier-single-hr
{
    border: 1px solid #EC9C23;
}
@media (max-width: 440px)
{
    .dossier-single-info {
        padding-left: 5px;
        padding-right: 5px;
    }
    .experience-block-icon {
        display: none;
    }
}
@media (max-width: 380px)
{
    .exp-header {
        font-size: 22px !important;
    }
    .exp-section-header {
        font-size: 22px !important;
    }
    .dossier-single-exp {
        border-left: none !important;
        padding-left: 10px;
    }
}

/** MODALS **/

/* stars input */

#message-text{
    min-height: 75px;
    max-height: 200px;
    font-family: Open Sans;
    font-size: 18px;
}
.rating {
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #ECF0F1;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #EC9C23;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #EC9C23;
}

.site-modal{
    color: #262424;
    font-family: Open Sans !important;
    font-style: normal;
}
.site-modal-submit{
    border-radius: 0;
    background: #EC9C23;
    color: #FFF;
}

/** SEO **/

.breadcrumb{
    background-color: #FFF;
    margin-bottom: 0;
}
.breadcrumb-item a, .breadcrumb-item a:hover {
    color: #EC9C23;
}
.breadcrumb-item.active{
    color: #979797;
}
.cat-dropdown-placeholder{
    display: inline-block;
    color: #000000;
    height: 43px;
    line-height: 25px;
    border: 3px solid #EC9C23;
    padding: 5px 40px 5px 5px;
    background: url(/img/dossier/filter-arrow.png) no-repeat;
    background-size: 20px;
    background-position: right 5px top 9px
}
.cat-dropdown-placeholder:hover{
    cursor: pointer;
}
.cat-dropdown{
    max-width: 400px;
    width: 100%;
    padding: 5px 5px;
    border-radius: 0;
    height: 222px;
    overflow-y: auto;
}
.dossier-cat-link{
    color: #000000;
    display: block;
    margin-bottom: 5px;
}
#dossier-region-dropdown .dossier-cat-link{
    color: #FFFFFF;
}
.dossier-cat-link:hover{
    text-decoration: none;
    /*color: #EC9C23 !important;*/
    color: #000 !important;
}
#dossier-region-dropdown{
    /*background: #2E2E2E;*/
    background: #EC9C23;
    max-width: 475px;
    border-radius: 0;
    padding: 5px 10px;
    line-height: 20px;
}
@media(min-width: 1200px){
    #dossier-region-dropdown{
        width: 475px;
    }
}
#logout-exit{
    display: none;
    position: absolute;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #EC9C23;
    border-left: 2px solid #EC9C23;
    border-right: 2px solid #EC9C23;
}
#logout-exit:hover{
    color: #EC9C23;
    cursor: pointer;
}
#cabinet-has-logout{
    position:relative;
}
body.hasHover #cabinet-has-logout.inverse:hover .nav-link {
    background: none;
}

/** FAQ **/
@media(min-width: 1200px){
    .faq-container{
        padding-left: 75px;
        padding-right: 75px;
    }
}
.faq-heading{
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #EC9C23;
}
.faq-card-item .faq-card__header {
    color: #262424;
    font-size: 28px;
    position: relative;
    padding: 25px 30px 25px;
    display: block;
}
.faq-card-item .faq-card__header h4{
    margin-bottom: 0;
}
.faq-card-item .faq-card__body .faq-body-container {
    font-size: 18px;
    color: #656565;
    padding: 15px 30px 20px;
}
.faq-card-item .faq-card__item {
    margin-top: 30px;
    background: #f2f2f2;
    cursor: pointer;
    transition: .3s ease;
}
.faq-card-item .faq-card__header svg {
    position: absolute;
    transition: transform .5s;
    top: 26px;
    right: 22px;
}
.faq-card-item .faq-card__header svg path {
    transition: .5s ease;
}
.faq-card-item .faq-card__header[aria-expanded=true] svg{
    transform: rotate(180deg);
}
.faq-feedback-header{
    color: #262424;
    font-size: 36px;
    font-weight: bold;
}
.faq-input{
    border: none;
    width: 100%;
    background: #F7F7F7;
    padding: 15px;
}
.faq-textarea{
    min-height: 100px;
    max-height: 500px;
}
.faq-input.input-outlined{
    border: 1px solid #EC9C23;
}
.policy-block{
    margin-bottom: 30px;
}
.policy-block-header{
    margin-bottom: 15px;
}
.policy-block-subheader{
    font-style: italic;
}

.iti__flag {
    background-image: url(/images/vendor/intl-tel-input/build/flags.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url(/images/vendor/intl-tel-input/build/flags@2x.png);}
}
#intl-phone{
    width: 100%;
    height: 48px;
    background: #FBFBFB;
    border: none;
}
#intl-phone::placeholder{
    color: #AFA9A9;
}
.iti__country-name{
    color: #000;
}
.iti--allow-dropdown{
    width: 100%;
}
.iti__selected-flag{
    background-color: #FBFBFB !important;
}
.iti__selected-dial-code{
    color: #000;
}

#header-bookmark-toggle img:last-child{
    display: none;
}
#header-bookmark-toggle.active img:last-child{
    display: inline;
}
#header-bookmark-toggle.active img:first-child{
    display: none;
}
.vdp-datepicker__clear-button{
    position: absolute;
    top: 5px;
    right: 0;
}
