<template>
    <div class="col-md-7 col-12">
        <div v-show="this.data.photo == null"  class="mt-md-4 mt-3 justify-content-start" v-bind:style="{ display: fileStyle}">
            <div class="cabinet-form-image-wrapper text-center p-0">
                <label v-if="this.newImage" class="btn-upload-icon">
                    <input @change="onFileChange($event)" type="file" accept="image/*" name="file[photo]"/>
                </label>
                <input name="existing_photo" type="hidden" :value="this.data.photo"></input>
                <span>{{ $t('cabinet.form.add_photo', langParam) }}</span>
            </div>
        </div>
        <div class="col-12 mt-4 justify-content-start">
            <div class="text-center cabinet-form-image-wrapper" v-bind:style="{ display: imageStyle}">
                <img v-if="this.data.photo != null && this.updateImage" :src="'../../../../storage/' + this.data.photo" style="max-width: 100%; max-height: 100%"/>
                <img v-else style="max-width: 100%; max-height: 100%" :src="image"/>
                <label class="btn-upload-icon" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                    <input @change="onFileChange($event); newImage = false" :name="name" type="file" accept="image/*" />
                </label>
            </div>
            <div class="w-75 mt-3" v-if="errors.length > 0">
                <span class="cabinet-validation-error" v-for="error in errors">{{ error.message }}</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                image: false,
                fileStyle: '',
                imageStyle: 'none',
                newImage: true,
                name: null,
                updateImage: true,
                langParam: '',
                errors: [],
            }
        },
        mounted() {
            if (this.data.photo != null || this.data.existingPhoto != null) {
                this.imageStyle = '';
                this.newImage = false
            }
            this.langParam = this.lang;
        },
        methods: {
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files
                if (!files.length)
                    return;
                this.errors = [];
                if (this.imageIsValid(files[0])) {
                    this.createImage(files[0])
                }
            },
            createImage(file) {
                let reader = new FileReader()
                reader.onload = (e) => {
                    this.image = e.target.result
                    if (this.data.photo != null) {
                        this.name = 'file[photo]'
                    }
                    this.updateImage = false;
                    this.fileStyle = 'none'
                    this.imageStyle = ''
                    this.errors = [];
                };
                reader.readAsDataURL(file)
            },
            imageIsValid(image) {
                // is not valid extension
                if (image.type.substring(0, 5) !== 'image') {
                    this.errors.push({ message: this.$t('validation.cabinet_form.extension', this.langParam) })
                }
                // is not valid size
                if (image.size > 3228640) {
                    this.errors.push({ message: this.$t('validation.cabinet_form.image_max', this.langParam) })
                }
                return this.errors.length <= 0
            }
        }
    }
</script>
