<template>
    <div class="col-md-7 col-12 pl-0">
        <div class="mt-md-4 mt-3">
            <vue-upload-multiple-image
                class="col-7 mt-4"
                @upload-success="uploadImageSuccess"
                :dragText="$t('cabinet.form.drag_image', langParam)"
                :browseText="$t('cabinet.form.or_choose_doc', langParam)"
                :primaryText="$t('cabinet.form.by_default_doc', langParam)"
                :markIsPrimaryText="$t('cabinet.form.select_by_default', langParam)"
                :popupText="$t('cabinet.form.select_by_default', langParam)"
                :dropText="$t('cabinet.form.image_doc_by_default', langParam)"
                :dataImages="dataImages"
                @before-remove="beforeRemove"
                :maxImage="maxImage"
                :idUpload="data.name"
                :editUpload="data.name"
            ></vue-upload-multiple-image>
            <div v-for="(image, index) in dataImages">
                <input type="hidden" :name="data.name + '[' + index + '][path]'" :value="image.path">
                <input type="hidden" :name="data.name + '[' + index + '][highlight]'" :value="image.highlight">
                <input type="hidden" :name="data.name + '[' + index + '][default]'" :value="image.default">
            </div>
            <div class="w-75 ml-3 mt-3" v-if="errors.length > 0">
                <span class="cabinet-validation-error" v-for="error in errors">{{ error.message }}</span>
            </div>
        </div>
    </div>
</template>
<script>
import VueUploadMultipleImage from 'vue-upload-multiple-image'

    export default {
        props: ['data'],
        data(){
            return {
                dataImages: [],
                langParam: '',
                maxImage: 4,
                errors: []
            }
        },
        mounted() {
            this.langParam = this.lang;
            if(this.data.photo) {
                this.dataImages = this.data.photo;
                this.dataImages = this.dataImages.map((item) => {
                    item.default = Number(item.default)
                    item.highlight = Number(item.highlight)
                    return item
                })
            }
        },
        methods: {
            uploadImageSuccess(formData, index, fileList) {
                this.dataImages = fileList;
                this.errors = [];
                if (fileList[index].path.length > 3504300) {
                    this.errors.push({ message: this.$t('validation.cabinet_form.image_max', this.langParam) })
                    this.dataImages.splice(index, 1)
                }
                if (fileList[index].path.substring(5, 10) != 'image') {
                    this.errors.push({ message: this.$t('validation.cabinet_form.extension', this.langParam) })
                    this.dataImages.splice(index, 1)
                }
                this.dataImages = fileList;
            },
            beforeRemove (index, done, fileList) {
                let r = confirm("remove image")
                if (r == true) {
                    this.dataImages = fileList;
                    done()
                } else {
                }
            }
        },
        components: {
            VueUploadMultipleImage,
        },
    }
</script>

<style scoped>
</style>
