<template>
    <div>
        <div v-for="(form, index) in forms" class="row justify-content-between col-12 p-0">
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.period', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3 pl-0 pl-md-3">
                <div class="row pl-3 pl-xl-0 cabinet-from-to-input-container justify-content-between">
                    <div class="col-12 col-xl-6 row pr-0 justify-content-between display-aling-center">
                        <div class="col-1 pl-xl-0 pl-0 cabinet-from-field">{{ $t('cabinet.form.from', langParam) }}
                        </div>
                        <datepicker v-model="form.from" class="col-xl-9 col-md-8 col-7" :language="langOfPicker[0]"
                                    :name="'experience_other[experience][' + form.id + '][from]'"
                                    :clear-button="true"
                                    :placeholder="$t('forms.placeholder_enter', langParam)" :format="`MMM-yyyy`" :minimumView="'month'" :maximumView="'year'" :initialView="'year'"
                                    input-class="pr-0 pl-2 cabinet-form-component-text-from-to"></datepicker>
                    </div>
                    <div class="col-12 col-xl-6 mt-xl-0 mt-3 row pr-0 justify-content-between display-aling-center">
                        <div class="col-1 pl-xl-0 pl-0 ml-xl-4 ml-0">{{ $t('cabinet.form.to', langParam) }}</div>
                        <datepicker v-model="form.to" class="col-xl-9 col-md-8 col-7" :language="langOfPicker[0]"
                                    :clear-button="true"
                                    :name="'experience_other[experience][' + form.id + '][to]'"
                                    :placeholder="$t('forms.placeholder_enter', langParam)" :format="`MMM-yyyy`" :minimumView="'month'" :maximumView="'year'" :initialView="'year'"
                                    input-class="pr-0 pl-2 cabinet-form-component-text-from-to"></datepicker>
                    </div>
                </div>
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.position', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.position" :name="'experience_other[experience][' + form.id + '][position]'" :placeholder="$t('forms.placeholder_enter', langParam)" class="cabinet-form-component-text pl-2" type="input">
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.place_of_work', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.place_of_work" :name="'experience_other[experience][' + form.id + '][place_of_work]'" :placeholder="$t('forms.placeholder_enter', langParam)" class="cabinet-form-component-text pl-2" type="input">
            </div>
            <div v-if="index == forms.length - 1" class="mt-4 row col-12">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="addForm">
                    <button class="cabinet-btn-add-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.add_teaching', langParam) }}</span>
                </div>
            </div>
            <div v-else class="mt-4 row col-12 mb-3">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="deleteForm(index)">
                    <button class="cabinet-btn-delete-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.delete_teaching', langParam) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";
import {en, uk, ru} from 'vuejs-datepicker/dist/locale'
    export default {
        props: ['data'],
        data() {
            return {
                id: 0,
                forms: [],
                langParam: '',
                en: en,
                uk: uk,
                ru: ru,
                langOfPicker: []
            }
        },
        mounted() {
            if(this.data.values == "") {
                this.forms.push({
                    id: this.id++,
                })
            } else {
                this.setForms()
            }
            this.langParam = this.lang;
            this.langOfPicker.push(this.setLangOfPiker(this.langParam));
        },
        methods: {
            setLangOfPiker(lang) {
                switch (lang) {
                    case "uk":
                        return this.uk;
                    case "en":
                        return this.en;
                    case "ru":
                        return this.ru;
                }
            },
            deleteForm(index) {
                this.forms.splice(index, 1)
            },
            setForms(){
                for (let i = 0; i < this.data.values.length; i++) {
                    this.forms.push({
                        id: this.id++,
                        from: 'from' in this.data.values[i] ? this.data.values[i].from : '',
                        to: 'to' in this.data.values[i] ? this.data.values[i].to : '',
                        position: 'position' in this.data.values[i] ? this.data.values[i].position : '',
                        place_of_work: 'place_of_work' in this.data.values[i] ? this.data.values[i].place_of_work : '',
                    })
                }
            },
            addForm() {
                this.forms.push({
                    id: this.id++,
                })
            }
        },
        components: {
            Datepicker
        }
    }
</script>

<style scoped>
</style>
