<template>
    <div class="ml-0 row cabinet-multi-input-wrapper">
        <div class="cabinet-input-wrap">
            <div v-for="(input, index) in inputs" class="w-100 display-aling-center" style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: stretch;align-content: stretch;">
                <input v-if="email"
                       :class="['pl-2 mt-4 mt-md-4 mt-3 cabinet-multi-text-input', isEmailValid(input.value)]"
                       v-model="input.value" :name="input.name + '[' + index +']'" type="email"
                       :placeholder="input.placeholder">
                <input v-else class="pl-2 mt-4 mt-md-4 mt-3 cabinet-multi-text-input" v-model="input.value"
                       :name="input.name + '[' + index +']'" type="input" :placeholder="input.placeholder">
                <div v-if="index == inputs.length - 1" class="" style="align-items: flex-end; display: flex">
                    <button class="cabinet-btn-add" type="button" @click="addInput"></button>
                </div>
                <div v-else class="" style="align-items: flex-end; display: flex">
                    <button class="cabinet-btn-delete" type="button" @click="deleteInput(index)"></button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['data'],
    data() {
        return {
            id: 0,
            inputs: [],
            email: '',
            reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
        }
    },
    mounted() {
        if (this.data.values == "") {
            this.inputs.push({
                id: this.id++,
                name: this.data.name,
                placeholder: this.data.placeholder,
                value: ''
            })
        } else {
            this.setInputs()
        }
        this.email = this.data.email
    },
    methods: {
        setInputs() {
            for (let i = 0; i < this.data.values.length; i++) {
                this.inputs.push({
                    id: this.id++,
                    name: this.data.name,
                    placeholder: this.data.placeholder,
                    value: this.data.values[i]
                })
            }
        },
        addInput() {
            if (this.inputs[this.inputs.length - 1].value !== '') {
                this.inputs.push({
                    id: this.id++,
                    placeholder: this.data.placeholder,
                    name: this.data.name,
                    value: ''
                })
            }
        },
        deleteInput(index) {
            this.inputs.splice(index, 1)
        },
        isEmailValid: function (email) {
            return (email == "") ? "" : (this.reg.test(email)) ? '' : 'has-error';
        }
    }
}
</script>

<style scoped>
</style>
