<template>
    <input v-model="site"
           :class="['col-12 cabinet-form-text-double-input', this.isLinkValid(site)]"
           :name="name" type="input"
           :placeholder="$t('forms.placeholder_enter', lang)">
</template>

<script>
    export default {
        name: "InputSoclinkComponent",
        props: ['data'],
        data() {
            return {
                site: '',
                lang: '',
                name: '',
                reg: /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/
            }
        },
        created() {
            this.site = this.data.value;
            this.lang = this.data.lang;
            this.name = this.data.name;
        },
        methods: {
            isLinkValid: function (link) {
                return (link == "") ? "" : (this.reg.test(link)) ? 'has-success' : 'has-error';
            }
        }
    }
</script>

<style scoped>

</style>
