<template>
    <div>
        <div v-for="(form, index) in forms" class="row justify-content-between col-12">
            <div class="cabinet-form-field-component col-md-4 col-12 display-aling-center mt-4">
                {{ $t('cabinet.form.licence_country', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input type="hidden" v-model="form.country" :name="'license[' + index + '][country]'"/>
                <v-select :class="data.errorCountry != '' && index == 0 ? 'cabinet-form-component-select is-invalid' : 'cabinet-form-component-select'" :options="countries" :placeholder="$t('forms.placeholder_choose_country', langParam)" v-model="form.country">
                </v-select>
                <span v-if="data.errorCountry != '' && index == 0" class="cabinet-validation-error">{{ data.errorCountry }}</span>
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4 display-aling-center">
                {{ $t('cabinet.form.licence_institution', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.institution" :name="'license[' + index + '][institution]'"
                       :class="data.errorInstitution != '' && index == 0 ? 'pl-2 cabinet-form-component-text is-invalid' : 'pl-2 cabinet-form-component-text'"
                       :placeholder="$t('forms.placeholder_enter', langParam)"
                       type="input">
                <span v-if="data.errorInstitution != '' && index == 0" class="cabinet-validation-error">{{ data.errorInstitution }}</span>
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.licence_year', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.year" :name="'license[' + index + '][year]'"
                       :class="data.errorYear != '' && index == 0 ? 'pl-2 cabinet-form-component-text is-invalid' : 'pl-2 cabinet-form-component-text'"
                       :placeholder="$t('forms.placeholder_enter', langParam)"
                       type="number">
                <span v-if="data.errorYear != '' && index == 0" class="cabinet-validation-error">{{ data.errorYear }}</span>
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.licence_number', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.number" :name="'license[' + index + '][number]'"
                       :class="data.errorNumber != '' && index == 0 ? 'pl-2 cabinet-form-component-text is-invalid' : 'pl-2 cabinet-form-component-text'"
                       :placeholder="$t('forms.placeholder_enter', langParam)"
                       type="input">
                <span v-if="data.errorNumber != '' && index == 0" class="cabinet-validation-error">{{ data.errorNumber }}</span>
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.doc_photo', langParam) }}
            </div>
            <cabinet-document
                :data="{name: 'license['  + index + '][photo]', photo: form.photo}"></cabinet-document>
            <span v-if="data.errorPhoto != '' && index == 0" class="col-md-7 offset-md-5 col-12 cabinet-validation-error">{{ data.errorPhoto }}</span>
            <div v-if="index == forms.length - 1" class="mt-4 row col-12">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="addForm">
                    <button class="cabinet-btn-add-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.add_license', langParam) }}</span>
                </div>
            </div>
            <div v-else class="mt-4 row col-12 mb-3">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="deleteForm(index)">
                    <button class="cabinet-btn-delete-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.delete_license', langParam) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['data'],
    data() {
        return {
            id: 0,
            forms: [],
            countries: [],
            langParam: '',
            selected: '',
            dataImages: []
        }
    },
    mounted() {
        this.langParam = this.lang;
        this.countries = this.setLang(this.data.countries);
        if (this.data.values == "") {
            this.forms.push({
                id: this.id++,
                country: this.$t('countries.ukraine', this.langParam)
            })
        } else {
            this.setForms()
        }
    },
    methods: {
        setLang(data) {
            return  data.map((item) => {
                return this.$t('countries.' + item.name, this.langParam)
            })
        },
        deleteForm(index) {
            this.forms.splice(index, 1);
        },
        setForms() {
            for (let i = 0; i < this.data.values.length; i++) {
                this.forms.push({
                    id: this.id++,
                    country: 'country' in this.data.values[i] ? this.data.values[i].country : '',
                    institution: 'institution' in this.data.values[i] ? this.data.values[i].institution : '',
                    year: 'year' in this.data.values[i] ? this.data.values[i].year : '',
                    number: 'number' in this.data.values[i] ? this.data.values[i].number : '',
                    photo: 'photo' in this.data.values[i] ? this.data.values[i].photo : false,
                });
            }
        },
        addForm() {
            this.forms.push({
                id: this.id++,
                country: this.$t('countries.ukraine', this.langParam),
            })
        }
    }
}
</script>

<style scoped>
</style>
