<template>
    <div class="ml-0 row cabinet-multi-input-wrapper">
        <div class="cabinet-input-wrap">
            <div v-for="(input, index) in inputs" style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: stretch;align-content: stretch;">
                <div class="w-100" style="padding-right: 13px;">
                    <input type="text" v-mask="'+###-##-###-##-####'" class="pl-2 mt-md-4 mt-3 cabinet-multi-text-input" v-model="input.value.number" :name="input.name + '[' + index + '][number]'" :placeholder="input.placeholder">
                    <span v-if="data.error.status" class="cabinet-validation-error">{{ data.error.message }}</span>
                    <div class="cabinet-form-phone-wrap-container mt-md-4 mt-3 col-12">
                        <div class="cabinet-form-phone-row">
                            <input v-model="input.value.messengers.viber" :name="input.name + '[' + index + '][messengers][viber]'" value="viber" class="cabinet-phone-checkbox mr-1" type="checkbox">
                            <div class="cabinet-viber-img mr-1"></div>
                        </div>
                        <div class="cabinet-form-phone-row">
                            <input v-model="input.value.messengers.whatsapp" :name="input.name + '[' + index + '][messengers][whatsapp]'" value="whatsapp" class="cabinet-phone-checkbox mr-1" type="checkbox">
                            <div class="cabinet-whatsapp-img mr-1"></div>
                        </div>
                        <div class="cabinet-form-phone-row">
                            <input v-model="input.value.messengers.telegram" :name="input.name + '[' + index + '][messengers][telegram]'" value="telegram" class="cabinet-phone-checkbox mr-1" type="checkbox">
                            <div class="cabinet-telegram-img mr-1"></div>
                        </div>
                        <div class="cabinet-form-phone-row">
                            <input v-model="input.value.messengers.skype" :name="input.name + '[' + index + '][messengers][skype]'" checked value="skype" class="cabinet-phone-checkbox mr-1" type="checkbox">
                            <div class="cabinet-skype-img mr-1"></div>
                        </div>
                    </div>
                </div>
                <div v-if="index == inputs.length - 1" class="">
                    <button class="cabinet-btn-add" style="margin-top: 25px;" type="button" @click="addInput"></button>
                </div>
                <div v-else class="">
                    <button class="cabinet-btn-delete" style="margin-top: 25px;" type="button" @click="deleteInput(index)"></button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                id: 0,
                inputs: [],
                myInputModel: ''
            }
        },
        created() {
            if(this.data.values == "") {
                this.inputs.push({
                    id: this.id++,
                    name: this.data.name,
                    placeholder: this.data.placeholder,
                    value: {
                        number: '',
                        messengers: {
                            skype: '',
                            telegram: '',
                            whatsapp: '',
                            viber: ''
                        }
                    }
                })
            } else {
                this.setInputs()
            }
        },
        methods:{
            setInputs(){
                for (let i = 0; i < this.data.values.length; i++) {
                    this.inputs.push({
                        id: this.id++,
                        name: this.data.name,
                        placeholder: this.data.placeholder,
                        value: {
                            number: this.data.values[i].number,
                            messengers: {
                                skype: typeof this.data.values[i].messengers !== 'undefined' && 'skype' in this.data.values[i].messengers ? this.data.values[i].messengers.skype : '',
                                telegram: typeof this.data.values[i].messengers !== 'undefined' && 'telegram' in this.data.values[i].messengers ? this.data.values[i].messengers.telegram : '',
                                whatsapp: typeof this.data.values[i].messengers !== 'undefined' && 'whatsapp' in this.data.values[i].messengers ? this.data.values[i].messengers.whatsapp : '',
                                viber: typeof this.data.values[i].messengers !== 'undefined' && 'viber' in this.data.values[i].messengers ? this.data.values[i].messengers.viber : ''
                            }
                        }
                    })
                }
            },
            deleteInput(index) {
                this.inputs.splice(index, 1)
            },
            addInput(){
                if (this.inputs[this.inputs.length - 1].value !== '') {
                    this.inputs.push({
                        id: this.id++,
                        placeholder: this.data.placeholder,
                        name: this.data.name,
                        value: {
                            number: '',
                            messengers: {
                                skype: '',
                                telegram: '',
                                whatsapp: '',
                                viber: ''
                            }
                        }
                    })
                }
            }
        }
    }
</script>

<style scoped>
</style>
