<template>
    <div>
        <div v-for="(form, index) in forms" class="row justify-content-between col-12 p-0">
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.edition', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.edition" :name="'publications[' + form.id + '][edition]'" :placeholder="$t('forms.placeholder_enter', langParam)" class="pl-2 cabinet-form-component-text" type="input">
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.topic', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.topic" :name="'publications[' + form.id + '][topic]'" :placeholder="$t('forms.placeholder_enter', langParam)" class="pl-2 cabinet-form-component-text" type="input">
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.link_to_public', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.url" :name="'publications[' + form.id + '][url]'" :placeholder="$t('forms.placeholder_enter', langParam)" class="pl-2 cabinet-form-component-text" type="input">
            </div>
            <div class="cabinet-form-field-component col-12 col-md-4 mt-4">
                {{ $t('cabinet.form.doc_photo', langParam) }}
            </div>
            <cabinet-document :data="{name: 'publications[' + index + '][photo]', photo: form.photo}"></cabinet-document>
            <div v-if="index == forms.length - 1" class="mt-4 row col-12">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="addForm">
                    <button class="cabinet-btn-add-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.add_publication', langParam) }}</span>
                </div>
            </div>
            <div v-else class="mt-4 row col-12 mb-3">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="deleteForm(index)">
                    <button class="cabinet-btn-delete-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.delete_publication', langParam) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                id: 0,
                forms: [],
                langParam: ''
            }
        },
        mounted() {

            if(this.data.values == "") {
                this.forms.push({
                    id: this.id++,
                })
            } else {
                this.setForms()
            }
            this.langParam = this.lang;
        },
        methods: {
            setForms() {
                for (let i = 0; i < this.data.values.length; i++) {
                    this.forms.push({
                        id: this.id++,
                        url: 'url' in this.data.values[i] ? this.data.values[i].url : '',
                        photo: 'photo' in this.data.values[i] ? this.data.values[i].photo : false,
                        topic: 'topic' in this.data.values[i] ? this.data.values[i].topic : '',
                        edition: 'edition' in this.data.values[i] ? this.data.values[i].edition : '',
                    })
                }
            },
            deleteForm(index) {
                this.forms.splice(index, 1)
            },
            addForm() {
                this.forms.push({
                    id: this.id++,
                })
            }
        }
    }
</script>

<style scoped>
</style>
