<template>
    <div>
        <div v-for="(form, index) in forms" class="row justify-content-between mr-0">
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.fullname', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.fullname" :name="'recommendations[' + form.id + '][fullname]'"  :placeholder="$t('forms.placeholder_enter', langParam)" class="pl-2 cabinet-form-component-text" type="input">
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.position', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.position" :name="'recommendations[' + form.id + '][position]'"  :placeholder="$t('forms.placeholder_enter', langParam)" class="pl-2 cabinet-form-component-text" type="input">
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.place_of_work', langParam) }}
            </div>
            <div class="col-md-7 col-12 mt-md-4 mt-3">
                <input v-model="form.place_of_work" :name="'recommendations[' + form.id + '][place_of_work]'"  :placeholder="$t('forms.placeholder_enter', langParam)" class="pl-2 cabinet-form-component-text" type="input">
            </div>
            <div class="cabinet-form-field-component col-md-4 col-12 mt-4">
                {{ $t('cabinet.form.recomm_doc', langParam) }}
            </div>
            <cabinet-document :data="{name: 'recommendations[' + index + '][photo]', photo: form.document}"></cabinet-document>
            <div v-if="index == forms.length - 1" class="mt-4 row col-12">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="addForm">
                    <button class="cabinet-btn-add-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.add_recommendation', langParam) }}</span>
                </div>
            </div>
            <div v-else class="mt-4 row col-12 mb-3">
                <div class="col-md-5 offset-md-7 col-12 mr-5 cabinet-form-dynamic-item-add-container" @click="deleteForm(index)">
                    <button class="cabinet-btn-delete-form-item" type="button"></button>
                    <span>{{ $t('cabinet.form.delete_recommendation', langParam) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                id: 0,
                forms: [],
                langParam: ''
            }
        },
        mounted() {

            if(this.data.values == "") {
                this.forms.push({
                    id: this.id++,
                })
            } else {
                this.setForms()
            }
            this.langParam = this.lang;
        },
        methods: {
            setForms() {
                for (let i = 0; i < this.data.values.length; i++) {
                    this.forms.push({
                        id: this.id++,
                        fullname: 'fullname' in this.data.values[i] ? this.data.values[i].fullname : '',
                        position: 'position' in this.data.values[i] ? this.data.values[i].position : '',
                        document: 'document' in this.data.values[i] ? this.data.values[i].document : false,
                        place_of_work: 'place_of_work' in this.data.values[i] ? this.data.values[i].place_of_work : '',
                    })
                }
            },
            deleteForm(index) {
                this.forms.splice(index, 1)
            },
            addForm() {
                this.forms.push({
                    id: this.id++,
                })
            }
        }
    }
</script>

<style scoped>
</style>
