<template>

</template>

<script>
    export default {
        props: ['url'],
        beforeMount(){
            if (this.url.length !== 0) {
                window.open(this.url, "_blank");
            }
        },
    }
</script>

<style scoped>

</style>
