<template>
    <div class="ml-0 row cabinet-multi-input-wrapper">
        <div class="cabinet-input-wrap">
            <div v-for="(select, index) in selects" class="w-100 mt-md-4 mt-3"
                 style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: stretch;align-content: stretch;">
                <input type="hidden" v-model="select.selected" :name="select.name + '[' + select.id + ']'"/>
                <v-select class="cabinet-form-component-select" v-model="select.selected"
                          :placeholder="$t('forms.placeholder_choose', langParam)" :options="select.optionData">
                </v-select>
                <div v-if="index == selects.length - 1" class=""
                     style="margin-left: 13px; align-items: flex-end; display: flex">
                    <button class="cabinet-btn-add" type="button" @click="addSelect()"></button>
                </div>
                <div v-else class="" style="margin-left: 13px;align-items: flex-end; display: flex">
                    <button class="cabinet-btn-delete" type="button" @click="deleteSelect(index)"></button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['data'],
    data() {
        return {
            id: 0,
            selects: [],
            langParam: '',
            langKey: '',
        }
    },
    mounted() {
        this.langParam = this.lang;
        if (this.data.values == "") {
            this.addSelect()
        } else {
            this.setSelects();
        }
    },
    methods: {
        setSelects() {
            for (let i = 0; i < this.data.values.length; i++) {
                this.selects.push({
                    id: this.id++,
                    name: this.data.name,
                    optionData: this.setLang(this.data.optionData, this.data.langKey),
                    selected: this.data.values[i]
                })
            }
        },
        setLang(data, langKey) {
            return data.map((item) => {
                return this.$t(langKey + item.name, this.langParam)
            })
        },
        deleteSelect(index) {
            this.selects.splice(index, 1)
        },
        addSelect() {
            if (this.selects.length == 0 || this.selects[this.selects.length - 1].selected != null) {
                this.selects.push({
                    id: this.id++,
                    name: this.data.name,
                    optionData: this.setLang(this.data.optionData, this.data.langKey),
                    selected: null
                })
            }
        }
    }
}
</script>

<style scoped>
</style>
