<template>
    <v-select :class="data.class" v-model="data.selects.selected"
              :placeholder="$t('forms.placeholder_choose', data.lang)" :options="selects">
    </v-select>
</template>

<script>
export default {
    name: "SelectSingleComponent",
    props: ['data'],
    data() {
        return {
            id: 0,
            selects: [],
            langParam: '',
            langKey: '',
        }
    },
    mounted() {
        if (this.data.langKey) {
            this.selects = this.setLang(this.data.selects, this.data.langKey)
        } else {
            this.selects = this.data.selects
        }
    },
    methods: {
        setLang(data, langKey) {
            return data.map((item) => {
                return this.$t(langKey + item.name, this.data.lang)
            })
        },
    }
}
</script>

<style scoped>

</style>
