<template>
    <div>
        <div v-for="(form, index) in forms" class="row col-12 pr-0">
            <div class="col-12 row ml-md-2 mt-4 justify-content-start">
                <input v-model="form.name" :name="'services[' + form.id + '][name]'" class="cabinet-form-text col-md-6 col-12" :placeholder="$t('cabinet.form.name_cost', langParam)" type="input">
                <div class="col-md-3 offset-md-3 col-12 mt-2 mt-md-0">
                    <div class="double-input row">
                        <input v-model="form.cost" class="cabinet-form-select-value-input pl-2" type="number" :name="'services[' + form.id + '][cost]'" :placeholder="$t('cabinet.form.price', langParam)">
                        <select v-model="form.currency"  class="cabinet-form-select-currency" :name="'services[' + form.id + '][currency]'">
                            <option v-for="option in currencies">{{ option }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div v-if="index == forms.length - 1" class="mt-3 col-md-5 offset-md-7 col-12 pr-5 cabinet-form-dynamic-item-add-container p-0" @click="addForm">
                <button class="cabinet-btn-add-form-item" type="button"></button>
                <span>{{ $t('cabinet.form.add_cost', langParam) }}</span>
            </div>
            <div v-else class="mt-3 col-md-5 offset-md-7 col-12 pr-5 cabinet-form-dynamic-item-add-container p-0 mb-3" @click="deleteForm(index)">
                <button class="cabinet-btn-delete-form-item" type="button"></button>
                <span>{{ $t('cabinet.form.delete_cost', langParam) }}</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                id: 0,
                forms: [],
                currencies: [],
                langParam: ''
            }
        },
        mounted() {
            this.langParam = this.lang;
            if(this.data.values == "") {
                this.forms.push({
                    id: this.id++,
                    currency: '₴'
                })
            } else {
                this.setForms()
            }
            this.currencies = this.data.currencies;
        },
        methods: {
            setForms() {
                for (let i = 0; i < this.data.values.length; i++) {
                    this.forms.push({
                        id: this.id++,
                        cost: 'cost' in this.data.values[i] ? this.data.values[i].cost : '',
                        name: 'name' in this.data.values[i] ? this.data.values[i].name : '',
                        currency: 'currency' in this.data.values[i] ? this.data.values[i].currency : '',
                    })
                }
            },
            deleteForm(index) {
                this.forms.splice(index, 1)
            },
            addForm() {
                this.forms.push({
                    id: this.id++,
                    currency: '₴'
                })
            }
        }
    }
</script>

<style scoped>
</style>
