<template>
    <div>
        <input type="hidden" v-model="select" :name="data.name"/>
        <v-select
            class="cabinet-form-component-select" v-model="select"
            :placeholder="$t('forms.placeholder_choose', data.lang)"
            :options="optionData">
        </v-select>
    </div>
</template>

<script>
export default {
    name: "SpecExpComponent",
    props: ['data'],
    data() {
        return {
            select: '',
            optionData: []
        }
    },
    mounted() {
        this.select = this.data.value;
        this.optionData = [ this.$t('cabinet.form.available', this.data.lang), this.$t('cabinet.form.missing', this.data.lang)]
    },
    watch: {
        select() {
            if (this.select == this.$t('cabinet.form.available', this.data.lang)) {
                this.$emit('changed', true);
            }
            if (this.select == this.$t('cabinet.form.missing', this.data.lang)) {
                this.$emit('changed', false);
            }
        }
    },
    methods: {

    }
}
</script>

<style scoped>

</style>
