<template>
    <div class="ml-0 row cabinet-multi-input-wrapper">
        <div class="cabinet-input-wrap">
            <div v-for="(input, index) in inputs" class="w-100" style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: stretch;align-content: stretch;">
                <div class="cabinet-form-textarea-container">
                    <textarea class="cabinet-form-textarea pl-2 mt-md-4 mt-3" rows="3" v-model.trim="input.value" :input="calcRemaining(input)" :name="input.name + '[' + index +']'" type="input" :placeholder="input.placeholder"></textarea>
                    <div class="textarea-helpers">
                        {{ $t('cabinet.form.chars_left', {chars: input.charsRemaining})}}
                    </div>
                </div>
                <div v-if="index == inputs.length - 1" style="margin-top: 25px;">
                    <button class="cabinet-btn-add" type="button" @click="addInput"></button>
                </div>
                <div v-else style="margin-top: 25px;">
                    <button class="cabinet-btn-delete" type="button" @click="deleteInput(index)"></button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                id: 0,
                inputs: [],
            }
        },
        mounted() {
            if(this.data.values == "") {
                this.inputs.push({
                    id: this.id++,
                    name: this.data.name,
                    placeholder: this.data.placeholder,
                    charsRemaining: 3000,
                    value: ''
                })
            } else {
                this.setInputs()
            }
        },
        methods:{
            calcRemaining(input){
                let result = 3000 - input.value.length;
                input.charsRemaining = result > 0 ? result : 0;
            },
            setInputs(){
                for (let i = 0; i < this.data.values.length; i++) {
                    this.inputs.push({
                        id: this.id++,
                        name: this.data.name,
                        placeholder: this.data.placeholder,
                        value: this.data.values[i],
                        charsRemaining: 3000
                    })
                }
            },
            deleteInput(index) {
                this.inputs.splice(index, 1)
            },
            addInput(){
                if (this.inputs[this.inputs.length - 1].value !== '') {
                    this.inputs.push({
                        id: this.id++,
                        placeholder: this.data.placeholder,
                        name: this.data.name,
                        value: ''
                    })
                }
            }
        }
    }
</script>

<style scoped>
</style>
