<template>
    <select id="region-select" :data-locale="this.lang" class="dossier-menu-select pl-1" disabled>
        <option value="" disabled selected>{{ $t('forms.placeholder_choose') }}</option>
    </select>
</template>

<script>
export default {
    name: "Select2Component",

    props: ['region', 'lang'],

    mounted() {
        const that = this
        $('#region-select').on('select2:select', e => {
            const region = $('#region-select').children("option:selected").val()
            that.$emit('changed', region)
        });
    }
}
</script>

<style scoped>

</style>
