<template>
    <div class="" v-cloak>
        <button v-if="!in_bookmarks" @click="addToBookmark(id)"
                class="dossier-item-bookmark">
            {{ $t('site.dossier.to_bookmark') }}
        </button>
        <button v-else @click="deleteFromBookmark(id)" class="dossier-item-bookmark-painted">
            {{ $t('site.dossier.delete_from_bookmark') }}
        </button>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        data() {
            return {
                in_bookmarks: false,
                id: null
            }
        },
        methods: {
            deleteFromBookmark(id) {
                axios.post(`/dossier/${id}/bookmark/delete`)
                    .then(response => {
                        let header = document.getElementById('header-bookmark-toggle');
                        if(response.data.count > 0){
                            header.classList.add('active');
                        }
                        else {
                            header.classList.remove('active');
                        }
                        this.in_bookmarks = false;
                    })
            },
            addToBookmark(id) {
                axios.post(`/dossier/${id}/bookmark/add`)
                    .then(response => {
                        let header = document.getElementById('header-bookmark-toggle');
                        this.in_bookmarks = true;
                        if(response.data.count > 0){
                            header.classList.add('active');
                        }
                        else {
                            header.classList.remove('active');
                        }
                    })
            },
        },
        created() {
            this.in_bookmarks = this.data.in_bookmarks;
            this.id = this.data.id
        }
    }
</script>

<style scoped>

</style>
