<template>
    <div v-cloak>
        <div class="row justify-content-center mb-5">
            <div v-show="!this.category_region_id" class="col-12 col-md-6 col-xl-3 mb-3">
                <select id="country-select-cabinet-general" v-model="countries_id" :data-locale="this.local"  class="dossier-menu-select pl-1 custom-select">
                    <option value="" disabled>{{ $t('forms.placeholder_choose_country') }}</option>
<!--                    <option value="1" selected>{{ $t('countries.ukraine') }}</option>-->
                    <option :value="country.id" v-for="country in countries">{{ $t('countries.' + country.name) }}</option>
                </select>
            </div>
            <div v-show="!this.category_region_id" class="col-12 col-md-6 col-xl-3 mb-3">
                <select id="region-select-cabinet-general" :data-locale="this.local" disabled class="dossier-menu-select pl-1">
                    <option value="" disabled selected>{{ $t('forms.placeholder_choose_region') }}</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3">
                <div class="dropdown" id="myDropdown">
                    <button class="w-100 dropdown-placeholder text-left" type="button" id="dropdownMenuButton" data-flip="false"
                            data-toggle="dropdown">
                       {{ $t('site.dossier.adve_search') }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-search" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-menu-search-container">
<!--                            <div>-->
<!--                                Місто-->
<!--                            </div>-->
<!--                            <select class="w-100 dropdown-menu-select mt-2 pl-1" name="" id="">-->
<!--
                          </select>-->
                            <div v-show="!this.category_specialization_name" class="mt-3">
                                {{ $t('cabinet.form.experience_specializations') }}
                            </div>
                            <select v-bind:class="{ 'select2-hidden': this.category_specialization_name }" id="select-specialization" class="w-100 dropdown-menu-select mt-2 pl-1 custom-select" v-model="specialization">
                                <option value selected >{{ $t('forms.placeholder_choose') }}</option>
                                <option :value="specialization.name" v-for="specialization in specializations">{{ $t('specializations.' + specialization.name) }}</option>
                            </select>
                            <div class="mt-3">
                                {{ $t('site.dossier.rating') }}
                            </div>
                            <select data-minimum-results-for-search="Infinity" id="select-rating" v-model="rating" class="w-100 dropdown-menu-select  custom-select mt-2 pl-1">
                                <option value disabled selected>{{ $t('forms.placeholder_choose') }}</option>
                                <option value="1">{{ $t('site.dossier.from') }} 1</option>
                                <option value="2">{{ $t('site.dossier.from') }} 2</option>
                                <option value="3">{{ $t('site.dossier.from') }} 3</option>
                                <option value="4">{{ $t('site.dossier.from') }} 4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="mt-3">
                                {{ $t('cabinet.form.experience_activities') }}
                            </div>
                            <label class="checkbox-container checkbox-container-dossier display-aling-center" >
                                {{ $t('cabinet.form.consultations') }}
                            <input class="checkbox" type="checkbox" v-model="activities" value="consultations">
                            <span class="checkmark checkmark-dossier"></span>
                            </label>
                            <label class="checkbox-container checkbox-container-dossier display-aling-center">
                                {{ $t('cabinet.form.accompaniment') }}
                                <input class="checkbox" type="checkbox" v-model="activities" value="accompaniment">
                                <span class="checkmark checkmark-dossier"></span>
                            </label>
                            <label class="checkbox-container checkbox-container-dossier display-aling-center">
                                {{ $t('cabinet.form.preparation_doc') }}
                                <input class="checkbox" type="checkbox" v-model="activities"  value="preparation_doc">
                                <span class="checkmark checkmark-dossier"></span>
                            </label>
                            <label class="checkbox-container checkbox-container-dossier display-aling-center">
                                {{ $t('cabinet.form.representation') }}
                                <input class="checkbox" type="checkbox" v-model="activities" value="representation">
                                <span class="checkmark checkmark-dossier"></span>
                            </label>
                            <div class="mt-3">
                                {{ $t('site.dossier.find_law') }}
                            </div>
                            <input class="dropdown-menu-input pl-1" :placeholder="$t('site.dossier.fullname_placeholder')" type="text" v-model.trim="q">
                            <div class="mt-3">
                                {{ $t('cabinet.form.dossier_lang') }}
                            </div>
                            <select data-minimum-results-for-search="Infinity" id="select-lang" class="w-100 dropdown-menu-select mt-2 pl-1 custom-select" name="">
                                <option value>{{ $t('forms.placeholder_choose') }}</option>
                                <option v-if="this.local == 'uk'" selected value="uk">Українська</option>
                                <option v-else  value="uk">Українська</option>
                                <option v-if="this.local == 'en'" selected value="en">English</option>
                                <option v-else value="en">English</option>
                            </select>
                            <div class="mt-3">
                                {{ $t('cabinet.form.experience_year') }}
                            </div>
                            <select data-minimum-results-for-search="Infinity" id="select-years" class="w-100 dropdown-menu-select mt-2 pl-1 mb-3  custom-select" v-model="years">
                                <option value="" selected>{{ $t('forms.placeholder_choose') }}</option>
                                <option value="1_5">{{ $t('site.dossier.sort_year_1_5') }}</option>
                                <option value="5_10">{{ $t('site.dossier.sort_year_5_10') }}</option>
                                <option value="10_20">{{ $t('site.dossier.sort_year_10_20') }}</option>
                                <option value="20_30">{{ $t('site.dossier.sort_year_20_30') }}</option>
                                <option value="30_40">{{ $t('site.dossier.sort_year_30_40') }}</option>
                                <option value="40_50">{{ $t('site.dossier.sort_year_40_50') }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3">
                <select data-minimum-results-for-search="Infinity" id="select-sort_by" class="dossier-menu-select pl-1 custom-select">
                    <option value="id_desc" disabled selected>{{ $t('cabinet.request.sort_placeholder') }}</option>
                    <option value="rating_asc">{{ $t('site.dossier.filter_rating_asc') }}</option>
                    <option value="rating_desc">{{ $t('site.dossier.filter_rating_desc') }}</option>
                    <option value="general.fullname_asc">{{ $t('site.dossier.filter_fullname_asc') }}</option>
                    <option value="general.fullname_desc">{{ $t('site.dossier.filter_fullname_desc') }}</option>
                    <option value="years_desc">{{ $t('site.dossier.filter_years_desc') }}</option>
                    <option value="years_asc">{{ $t('site.dossier.filter_years_asc') }}</option>
                </select>
            </div>
        </div>
        <div v-if="!loaded" style="font-size: 24px;" class="col-12 text-center about-page-heading mb-3">
            {{ $t('site.dossier.loading') }}
        </div>
        <div v-if="loaded && Object.keys(dossiers).length" class="row justify-content-center mb-3">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 text-center" v-for="(dossier, index) in dossiers" :key="dossier.id">
                <div class="dossier-item mx-auto w-100">
                    <div class="dossier-single-img-wrapper">
                        <img class="dossier-item-img" :src="'/../storage/' + dossier.general.photo" alt="">
                    </div>
                    <div class="dossier-item-name">{{ dossier.general.fullname }}</div>
                    <div class="dossier-item-stats">
                        <div class="dossier-item-stats-a">
                            {{ dossier.rating }}
                        </div>
                        <div class="dossier-item-stats-b">
                            {{ dossier.seen_counter }}
                        </div>
                    </div>
                    <div class="text-center dossier-item-city">
                        {{ $t('countries.'+dossier.country) }}, {{ $t('regions.'+dossier.region) }}{{ dossier.city !== null ? ", "+$t('cities.'+dossier.city) : ''}}
                    </div>
                    <div>
                        <div class="dossier-item-address">
                            {{ dossier.general.office.address[0] }}
                        </div>
                    </div>
                    <a :href="`/${local}/dossier/view/${dossier.id}`" class="dossier-item-link">
                        {{ $t('cabinet.form_index.view') }}
                    </a>
                    <button v-if="!dossier.in_bookmarks" @click="addToBookmark(index, dossier.id)"
                            class="dossier-item-bookmark">
                        {{ $t('site.dossier.to_bookmark') }}
                    </button>
                    <button v-else @click="deleteFromBookmark(index, dossier.id)" class="dossier-item-bookmark-painted">
                        {{ $t('site.dossier.delete_from_bookmark') }}
                    </button>
                </div>
            </div>
            <div class="col-12 text-center" v-if="Object.keys(this.dossiers).length >= dossiersToShow">
                <button class="dossier-more" @click="dossiersToShow += 16; loaded = !loaded">
                    {{ $t('site.dossier.show_more') }}
                </button>
            </div>
        </div>
        <div v-else-if="loaded" style="font-size: 24px;" class="col-12 text-center about-page-heading mb-3">
            {{ $t('site.dossier.empty_results') }}
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        data() {
            return {
                dossiers: [],
                loaded: false,
                countries: [],
                regions: [],
                specializations: [],
                dossiersToShow: 16,
                rating: '',
                timeoutID: null,
                q: '',
                activities: [],
                years: '',
                specialization: '',
                sort_by: 'id_desc',
                regions_id: '',
                category_region_id: '',
                category_specialization_name: '',
                country: '',
                city: '',
                countries_id: '',
                local: ''
            }
        },
        methods: {
            deleteFromBookmark(index, id) {
                axios.post(`/dossier/${id}/bookmark/delete`)
                    .then(response => {
                        let header = document.getElementById('header-bookmark-toggle');
                        if(response.data.count > 0){
                            header.classList.add('active');
                        }
                        else {
                            header.classList.remove('active');
                        }
                        this.$set(this.dossiers[index], 'in_bookmarks', false);
                    })
            },
            addToBookmark(index, id) {
                let dossier = this.dossiers[index];
                axios.post(`/dossier/${id}/bookmark/add`)
                    .then(response => {
                        let header = document.getElementById('header-bookmark-toggle');
                        if(response.data.count > 0){
                            header.classList.add('active');
                        }
                        else {
                            header.classList.remove('active');
                        }
                        this.$set(this.dossiers[index], 'in_bookmarks', true);
                    })
            },
            getDossiers(showmore = false) {
                if (!showmore){
                    this.loaded = false;
                    this.dossiers = {};
                }
                axios.post(`/api/dossier`, {
                    q: this.q,
                    activities: this.activities,
                    years: $('#select-years').children("option:selected").val(),
                    specialization: this.category_specialization_name ? this.category_specialization_name : $('#select-specialization').children("option:selected").val(),
                    rating: $('#select-rating').children("option:selected").val(),
                    sort_by: $('#select-sort_by').children("option:selected").val(),
                    locale: $('#select-lang').children("option:selected").val(),
                    regions_id: this.category_region_id ? this.category_region_id.toString() : $('#region-select-cabinet-general').children("option:selected").val(),
                    countries_id: $('#country-select-cabinet-general').children("option:selected").val(),
                    per_page: this.dossiersToShow
                })
                    .then((response) => {
                        this.dossiers = response.data.data;
                        this.loaded = true;
                    })
            }
        },
        watch: {
            dossiersToShow() {
                this.getDossiers( true);
            },
            rating() {
                this.getDossiers();
            },
            activities() {
                this.getDossiers();
            },
            years() {
                this.getDossiers();
            },
            specialization() {
                this.getDossiers();
            },
            q() {
                clearTimeout(this.timeoutID);
                this.timeoutID = setTimeout(() => {
                    this.getDossiers();
                }, 300)
            },
            sort_by() {
                this.getDossiers();
            },
            countries_id() {
                this.getDossiers();
            }
        },
        created() {
            this.local= window.location.pathname.replace(/^\/([^\/]+).*/i,'$1');
            this.countries = this.data.countries;
            this.specializations = this.data.specializations;
            if(this.data.region_id){
                this.category_region_id = this.data.region_id;
            }
            if(this.data.specialization_name){
                this.specialization = this.data.specialization_name;
            }
        },
        mounted() {
            $('#country-select-cabinet-general').on('select2:select', e => {
                this.getDossiers();
            });
            $('#select-rating').on('select2:select', e => {
                this.getDossiers();
            });
            $('#select-sort_by').on('select2:select', e => {
                this.getDossiers();
            });
            $('#select-lang').on('select2:select', e => {
                this.getDossiers();
            });
            $('#select-specialization').on('select2:select', e => {
                this.getDossiers();
            });
            $('#select-years').on('select2:select', e => {
                this.getDossiers();
            });
            $('#region-select-cabinet-general').on('select2:select', e => {
                this.getDossiers();
            });
            this.getDossiers();
        }
    }
</script>

<style scoped>

</style>
