<template>
    <div class="tracker-chat__container" id="app" v-cloak>
        <div class="tracker-chat__header w-100">
            <div class="row col-3">
                <a :href="localChat"><img style="transform: rotate(180deg);height: 37px;" src="/img/tracker/next.png"
                                          alt=""></a>
            </div>
            <div class="row justify-content-between">
                <div class="col-10 col-xl-3">
                    <span>{{ dossier.fullname }}</span>
                </div>
                <div class="d-none d-xl-flex col-7 row text-center cabinet-chat__header-nav justify-content-end">
                    <div v-if="!ratingExists" class="col-4">
                        <a href="javascipt:;" @click="accessRate()" class="tracker-chat__link"
                           onclick="$('#rate-lawyer-modal').modal('show')">{{ $t('site.tracker.response.rate') }}</a>
                    </div>
                    <div class="col-4">
                        <a class="tracker-chat__link" target="_blank"
                           :href="this.data.dossier_url">{{ $t('site.tracker.response.dossier') }}</a>
                    </div>
                    <div class="col-4">
                        <a href="javascript:;" @click="accessComplaint()" class="tracker-chat__link"
                           onclick="$('#lawyer-report-modal').modal('show')">{{
                                $t('site.tracker.response.complaint')
                            }}</a>
                    </div>
                </div>
                <div class="d-block d-xl-none col-2 text-right">
                    <a class="pl-1 dossier-item-cabinet-index-more-actions" type="button"
                       id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <a href="javascipt:;" @click="accessRate()" class="tracker-chat__link"
                               onclick="$('#rate-lawyer-modal').modal('show')">{{
                                    $t('site.tracker.response.rate')
                                }}</a>
                        </div>
                        <div class="dropdown-item">
                            <a class="tracker-chat__link" target="_blank"
                               :href="this.data.dossier_url">{{ $t('site.tracker.response.dossier') }}</a>
                        </div>
                        <div class="dropdown-item">
                            <a href="javascript:;" @click="accessComplaint()" class="tracker-chat__link"
                               onclick="$('#lawyer-report-modal').modal('show')">{{
                                    $t('site.tracker.response.complaint')
                                }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tracker-chat__message-list w-100" v-chat-scroll>
            <div style="clear:both" v-for="message in messages">
                <div v-if="message.owner == 'user'" class="tracker-chat__message-container mt-3">
                    {{ message.message }}
                </div>
                <div v-else class="tracker-chat__message-mine-container mt-3">
                    {{ message.message }}
                </div>
            </div>
        </div>
        <div class="tracker-chat__input-container">
            <div class="h-100">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9 col-lg-10">
                        <textarea style="resize: none; background-color: #f5f5f5; border: none;"
                                  class="tracker-chat__textarea pl-2 pt-2 w-100"
                                  :placeholder="$t('site.tracker.response.send_placeholder')" v-model.trim="newMessage"
                                  rows="1"></textarea>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2 text-center text-md-right my-auto">
                        <a class="p-2 tracker-chat__send-message-button" @click="sendMessage()">
                            {{ $t('site.tracker.response.send') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['data'],
    data() {
        return {
            value: '',
            messages: [],
            dossier: [],
            dossier_url: '#',
            newMessage: '',
            objDiv: [],
            localChat: '',
        }
    },
    created() {
        this.api_config = {
            headers: {
                Authorization: `Bearer ` + this.data.api_token,
                Accept: 'application/json',
            }
        };
        this.dossier = this.data.dossier;
        this.ratingExists = this.data.ratingExists;
        this.fetchMessages();
    },
    mounted() {
        this.localChat = '/' + window.location.pathname.replace(/^\/([^\/]+).*/i, '$1') + '/tracker/request';
    },
    methods: {
        accessRate() {
            $('#rate-lawyer-id').val(this.data.chat.user_id);
        },
        accessComplaint() {
            $('#modal-lawyer-id').val(this.data.chat.user_id)
        },
        fetchMessages() {
            axios.get(`/api/messages/${this.data.chat.id}`, this.api_config)
                .then(response => {
                    this.messages = response.data;
                });
        },
        sendMessage() {
            if (this.newMessage === '') {
                return;
            }
            this.messages.push({
                owner: 'application',
                message: this.newMessage
            })
            axios.post(`/api/message/store`, {
                chat_id: this.data.chat.id,
                message: this.newMessage,
                owner: 'application'

            }, this.api_config)
                .catch(error => {
                    this.messages.pop()
                    alert(this.$t('validation.chat.session_expire'))
                }).then(response => {
                    this.fetchMessages();
                });
            this.newMessage = ''
        },
    }
}
</script>

<style scoped>

</style>
