<template>
    <div v-if="showInput" class="row justify-content-md-between justify-content-center"  v-cloak>
        <div class="col-11 col-md-6 col-xl-5 tracker-code-form__title text-center text-md-left">
            {{ $t('site.tracker.form.enter_code')  }}
        </div>
        <div class="col-12 col-md-6 col-xl-5">
            <div class="col-12 tracker-code-form__code-input-container text-center">
                <input style="width: 80%; margin-bottom: 1px;" id="code-input-mask" type="text" class="h-75 tracker-code-form__code-input text-center" placeholder="0000 0000 0000">
            </div>
            <div class="tracker-code-form__link-container">
                <a class="tracker-code-form__rememberme_code_link" :href='localRemind'>{{ $t('site.tracker.form.forgot_code')  }}</a>
            </div>
            <div class="text-center">
                <button v-on:click="getApplicationEmail()" class="tracker-code-form__submit-button">
                    {{ $t('site.tracker.form.track')  }}
                </button>
            </div>
            <div class="w-100 text-center">
                <span v-if="allerros.code" class="w-100 cabinet-validation-error">{{ allerros.code[0] }}</span>
            </div>
        </div>
    </div>
    <div v-else v-cloak>
        <div class="auth-header-caption text-center mb-5">
            {{ $t('site.tracker.access_header') }}
        </div>
        <div class="request-verify text-center mb-5">
            {{ $t('site.tracker.form.follow')  }}
            <a class="site-link" href="">{{ getProtectedEmail }}</a>
        </div>
        <div class="text-center mb-3">
            {{ $t('auth.email_check_spam') }}
        </div>
        <div class="text-center mb-3">
            {{ $t('site.tracker.protection')}}
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showInput: true,
                applicationEmail: null,
                code: '',
                allerros: [],
                localRemind: ''
            }
        },
        created: function created(){
            this.locale = window.location.pathname.replace(/^\/([^\/]+).*/i,'$1');
        },
        methods: {
            getApplicationEmail() {
                this.code = document.querySelector('.tracker-code-form__code-input').value.replace(/ /g, '');
                axios.post(`/api/tracker/request/email`, {
                    code: this.code,
                    locale: this.locale
                })
                    .then((response) => {
                        this.applicationEmail = response.data;
                        this.showInput = !this.showInput;
                    })
                    .then(() => {
                        if (this.applicationEmail !== null) {
                            axios.post(`/api/tracker/request/sendmail`, {
                                code: this.code,
                                locale: this.locale
                            })
                        }
                    })
                    .catch((error) => {
                        this.allerros = error.response.data.errors;
                    });
            },
        },
        mounted() {
            this.localRemind = '/' + window.location.pathname.replace(/^\/([^\/]+).*/i,'$1') + '/tracker/remind-code';
        },
        computed: {
            getProtectedEmail() {
                if (this.applicationEmail !== null) {
                    let avg, splitted, part1, part2;
                    splitted = this.applicationEmail.split("@");
                    part1 = splitted[0];
                    avg = part1.length / 2;
                    part1 = part1.substring(0, (part1.length - avg));
                    part2 = splitted[1];
                    return part1 + "***@" + part2;
                }
            },
        },
    }
</script>

<style scoped>

</style>
