<template>
    <div v-if="showInput" class="row justify-content-center" v-cloak>
        <div class="col-10 text-center">
            <div class="col-12 tracker-code-form__title">
                {{ $t('site.tracker.form.enter_email')  }}
            </div>
            <div class="row justify-content-center">
                <div class="tracker-code-form__code-input-container col-9 mt-5">
                    <input style="margin-bottom: 1px;" type="email" class="w-75 tracker-code-form__code-input text-center" v-model="email" :placeholder="$t('forms.placeholder_enter')" required>
                </div>
            </div>
            <div class="text-center mt-5 col-12">
                <button class="tracker-code-form__submit-button" v-on:click="sendRememberCodeMail()">
                    {{ $t('site.tracker.form.get_code')  }}
                </button>
            </div>
            <div class="w-100 text-center">
                <span v-if="allerros.email" class="w-100 cabinet-validation-error">{{ allerros.email[0] }}</span>
            </div>
        </div>
    </div>
    <div v-else  v-cloak>
        <div class="auth-header-caption text-center mb-5">
            {{ $t('site.tracker.restore_header') }}
        </div>
        <div class="request-verify mb-3">
            {{ $t('site.tracker.form.email_sent')  }}
            {{ email }}, <a class="site-link" href="#" v-on:click="showForm()">{{ $t('site.tracker.form.press')  }}</a>, {{ $t('site.tracker.form.email_another')  }}
        </div>
        <div class="text-center mb-3">
            {{ $t('auth.email_check_spam') }}
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showInput: true,
                email: '',
                allerros: []
            }
        },
        created: function created(){
            this.locale = window.location.pathname.replace(/^\/([^\/]+).*/i,'$1');
        },
        methods: {
            showForm() {
                this.allerros = [];
                this.showInput = !this.showInput;
            },
            sendRememberCodeMail() {
                axios.post(`/api/tracker/request/remind`, {
                    email: this.email,
                    locale: this.locale
                })
                    .then(() => {
                        this.showInput = !this.showInput;
                    })
                    .catch((error) => {
                    this.allerros = error.response.data.errors;
                });
            },
        },
    }
</script>

<style scoped>

</style>
