<template>
    <div>
        <div class="tracker-responded-container">
            <h2 class="tracker-page-heading text-center mt-5 mb-5">
                {{ $t('site.tracker.responses_header') }}
            </h2>
        </div>
        <div class="row">
            <div class="mb-5 w-100" v-for="item in data.data">
                <div class="tracker-response" v-show="showInfo">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="row">
                                <div class="col-12 col-xl-7">
                                    <div>
                                        <img class="tracker-response-img" :src="'/../../storage/' + item.dossier.photo" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-5">
                                    <div class="tracker-response-name">{{ item.dossier.fullname }}</div>
                                    <div class="tracker-response-location mb-5">{{ $t("countries." + item.country) }},
                                        {{ $t('regions.'+item.region) }}{{ item.city !== null ? ", "+$t('cities.'+item.city) : ''}}
                                    </div>
                                    <div class="tracker-response-stats mb-3 mb-xl-0">
                                        <img src="/../img/dossier/star.png" alt="">
                                        {{ item.rating }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-5 mb-3 mb-xl-0">
                            <div class="tracker-response-text">
                                {{ item.lastMessage }}
                            </div>
                            <div class="text-right" style="margin-top: 16%;">
                                <a class="tracker-response-open mb-3 mb-xl-0"  v-on:click="showInfo = !showInfo; chatToShowId(item.chat.id)"  href="#" onclick="return false;">{{ $t('site.tracker.response.message') }}</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3">
                            <div class="tracker-response-actions">
                                <a v-if="!item.ratingExists" href="javascript:;" @click="accessRate(item.chat.user_id)" onclick="$('#rate-lawyer-modal').modal('show');" class="mb-3">{{ $t('site.tracker.response.rate') }}</a>
                                <a target="_blank" :href="item.dossier_url" class="mb-3">{{ $t('site.tracker.response.dossier') }}</a>
                                <a href="javascript:;" @click="accessComplaint(item.chat.user_id)" onclick="$('#lawyer-report-modal').modal('show');">{{ $t('site.tracker.response.complaint') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <tracker-chat-item-container v-if="!showInfo && chatToShow == item.chat.id" :data="{ chat: item.chat, dossier: item.dossier, application: item.application, dossier_url: item.dossier_url, api_token: item.api_token, ratingExists: item.ratingExists }"></tracker-chat-item-container>
            </div>
            <div class="mb-5">

            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data'],
    data() {
        return {
            value: '',
            showInfo: true,
            application: [],
            chatToShow: ''
        }
    },
    methods: {
        accessRate(id) {
            $('#rate-lawyer-id').val(id);
        },
        accessComplaint(id) {
            $('#modal-lawyer-id').val(id)
        },
        chatToShowId(id) {
            this.chatToShow = id
        }
    }
}
</script>

<style scoped>

</style>
